<div class="container table-header-info mb-30">
  <div class="row">
    <div class="col-6 tablesuser-flex">
      <h4>
        Provider ({{user?.firstName}})
      </h4>
      <div class="add-program-btn">
        <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
          <mat-button-toggle matTooltip2="Add" (click)="add()" value="add">
            <mat-icon class="text-success">+ Add New Program</mat-icon>
          </mat-button-toggle>
        </mat-button-toggle-group>
      </div>
    </div>
    <div class="col-6">
      <div class="search-form-info">
        <mat-form-field style="width: 100%">
          <input matInput placeholder="Search Published Activities" value="" (keyup)='updateFilter($event)' />
        </mat-form-field>
      </div>
    </div>
  </div>
</div>
<div class="container usertable table-body-info">
  <div>

    <div class="row">
      <div class="col-2">
        <mat-form-field class="width:100%">
          <mat-label>Page size</mat-label>
          <mat-select #itemValue [(ngModel)]="pageLimit">
            <mat-option selected value="single" [value]="10">10</mat-option>
            <mat-option selected value="single" [value]="20">20</mat-option>
            <mat-option selected value="single" [value]="50">50</mat-option>
            <mat-option selected value="single" [value]="100">100</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-4">
        <button class="mr-4" (click)="selectedActivityIds.isPublished=true;publishUnpublishMultiplePrograms()"
          mat-raised-button color="primary" *ngIf="selectedActivityIds.programIds?.length"
          matTooltip="Publish Selected Activities">
          Publish
        </button>
        <button (click)="selectedActivityIds.isPublished=false;publishUnpublishMultiplePrograms()" mat-raised-button
          color="warn" *ngIf="selectedActivityIds.programIds?.length" matTooltip="Unpublish Selected Activities">
          Unpublish
        </button>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <ngx-datatable [rows]="rows" [sorts]="[{prop: 'published', dir: 'desc'},{prop: 'expirein', dir: 'desc'}]"
          class="material bg-white" [limit]="pageLimit" [scrollbarH]="true" [columnMode]="ColumnMode.force"
          [rowHeight]="50" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50">

          <ngx-datatable-column name="Name">
            <ng-template let-row="row" ngx-datatable-cell-template>
              {{row?.name}}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Activity-Id">
            <ng-template let-row="row" ngx-datatable-cell-template>
              {{row?._id}}
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column name="Added-On">
            <ng-template let-row="row" ngx-datatable-cell-template>
              {{row?.addedBy?.createdOn | date:'medium'}}
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column prop="published" name="Published">
            <ng-template let-row="row" ngx-datatable-cell-template>

              <mat-slide-toggle [checked]="row?.isPublished" color="primary"
                (change)="publishUnpublishProgram($event,row)">
              </mat-slide-toggle>
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column [sortable]="true" prop="expirein" name="Expire-In">
            <ng-template let-row="row" ngx-datatable-cell-template>
              <span *ngIf="!row?.isDateNotMention && !row?.isExpired">
                <counter [isProgram]="true" [futureString]="row?.date?.to"></counter>
              </span>
              <span *ngIf="row?.isDateNotMention && !row?.isExpired">Date Not Mentioned</span>
              <span *ngIf="row?.isExpired" style="background: red;">Expired</span>
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column name="Action">
            <ng-template let-row="row" ngx-datatable-cell-template>

              <button mat-icon-button [matMenuTriggerFor]="msgMenu" class="hidden-on-open">
                <mat-icon class="text-muted">more_vert</mat-icon>
              </button>
              <mat-menu #msgMenu="matMenu">
                <button mat-menu-item (click)="edit(row)">
                  <mat-icon>edit</mat-icon>Edit
                </button>
                <button mat-menu-item (click)="deleteProgram(row)">
                  <mat-icon>delete</mat-icon>Delete
                </button>
                <button mat-menu-item (click)="openPopUp(row)">
                  <mat-icon>view_comfy</mat-icon>View
                </button>
              </mat-menu>

            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Bulk-Operation">
            <ng-template let-row="row" ngx-datatable-cell-template>
              <mat-checkbox color="primary" [checked]="row?.isSelected"
                (change)="row.isSelected=true;selectPrograms($event,row)"></mat-checkbox>
            </ng-template>
          </ngx-datatable-column>.
        </ngx-datatable>
      </div>
    </div>
    <button class="back-btn" mat-raised-button onclick="history.back()" color="warn">Back</button>
  </div>
</div>