.app-loader {
    height: 100vh !important;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
}
.spinner {
    width: 40px;
    height: 40px;
    position: relative;
    margin: auto;
}
element.style {
    background: #fcc02e;
}
.double-bounce1{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-animation: sk-bounce 2s infinite ease-in-out;
    animation: sk-bounce 2s infinite ease-in-out;
}
element.style {
    background: #03a9f4;
}
.double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-animation: sk-bounce 2s infinite ease-in-out;
    animation: sk-bounce 2s infinite ease-in-out;
}
.headdiv{flex-direction: row-reverse !important;}
.pagelimit {display: flex;flex-direction: row;justify-content: space-between;align-items: center;padding: 0 18px;}

/* custom css table */
.align-center{align-items: center;}
.center{text-align: center;}
.left{text-align: left;}
.blue-clr{color: #53B2E2;}
.mb-10{margin-bottom: 15px;}
.mb-15{margin-bottom: 15px;}
.mb-20{margin-bottom: 20px;}
.mb-30{margin-bottom: 30px;}
.example-container {height: 90vh;width: 100%;max-width: 100%;overflow: auto;box-shadow: unset;}

/* top left listing heading css  */
.tablesuser-flex {display: flex;align-items: center;column-gap: 30px;}
.table-header-info h4 {font-family: 'Poppins';font-style: normal;font-weight: 400;font-size: 26px;line-height: normal;color: #4F4F4F; margin-bottom: 0px;}                                          
.add-program-btn mat-button-toggle-group.mat-button-toggle-group {border: none!important;}
.add-program-btn mat-button-toggle-group.mat-button-toggle-group mat-button-toggle {border: 1px solid #53B2E8;height: auto;border-radius: 10px;}
.add-program-btn mat-button-toggle-group.mat-button-toggle-group .mat-icon {font-family: 'Poppins';font-style: normal;font-weight: 400;font-size: 14px;line-height: 18px;color: #53B2E8!important;display: block;width: 100%;padding: 10px 15px;height: auto;}

/* search form css  */
.search-form-info mat-form-field.mat-form-field {width: 100%;background: #FFFFFF;box-shadow: 4px 4px 4px #00000017; border-radius: 40px;padding: 10px;}
.search-form-info {max-width: 345px;margin-left: auto;}
::ng-deep .search-form-info .mat-form-field-infix {padding: 0px !important;width: 100%;border-top: none!important;}
::ng-deep .search-form-info .mat-form-field-underline{display: none;}
::ng-deep .search-form-info .mat-form-field-flex {padding-top: 0px !important;column-gap: 10px;}
::ng-deep .search-form-info .mat-form-field-wrapper {padding-bottom: 0px;}
::ng-deep .search-form-info .text-primary.mat-icon {color: #fff !important;background: #53B2E8;width: 40px;height: 40px;border-radius: 50px;display: flex!important;align-items: center;justify-content: center;}
::ng-deep .search-form-info input {background: #EFEFEF;border-radius: 30px;padding: 10px 15px;position: relative;font-family: 'Open Sans';font-style: normal;font-weight: 400;font-size: 13px;line-height: 18px;letter-spacing: 0.001em;color: #748494;margin-bottom: -4px;}
::ng-deep .search-form-info label.mat-form-field-label {font-family: 'Open Sans';font-style: normal;font-weight: 400;font-size: 13px;line-height: 18px;letter-spacing: 0.001em;color: #748494;padding: 6px 20px;}
::ng-deep .search-form-info .mat-form-field.mat-focused .mat-form-field-label{color: #748494;margin-top: -5px;}

/* datatable css  */
::ng-deep .datatable-header, ::ng-deep .datatable-body .datatable-row-wrapper {border-bottom: 1px solid #E7E6F8;}
::ng-deep .datatable-header .datatable-header-cell .datatable-header-cell-label {font-family: 'Poppins';font-style: normal;font-weight: 600;font-size: 16px;line-height: 24px;color: #2B3858;}
::ng-deep .datatable-header .datatable-header-cell-template-wrap::before {content: "";border-left: 1px solid #D9DFEA;position: absolute;height: 17.85px;width: 2px;left: 0px;top: 50%;transform: translateY(-50%);}
::ng-deep .datatable-header .datatable-header-cell .datatable-icon-down:before,
::ng-deep .datatable-header .datatable-header-cell .datatable-icon-up:before {font-size: 16px;line-height: 24px;color: #2B3858;}
::ng-deep .datatable-header .datatable-header-cell {padding: 8px 15px!important;}
::ng-deep .datatable-body .datatable-row-wrapper .datatable-body-cell .datatable-body-cell-label {font-family: 'Poppins';font-style: normal;font-weight: 400;font-size: 14px;line-height: 150%;color: #2B3858;}

::ng-deep .datatable-body-cell-label label.mat-checkbox-layout .mat-checkbox-frame {border: 1px solid #2B3858;border-radius: 4px;}

/* table switch btn css  */
::ng-deep .mat-slide-toggle-bar {background-color: #C4C4C4!important;width: 30px!important;height: 16px!important;border-radius: 20px!important;}
::ng-deep .mat-slide-toggle-bar .mat-slide-toggle-thumb {height: 14px;width: 14px;}
::ng-deep .mat-slide-toggle.mat-primary.mat-checked .mat-slide-toggle-thumb {margin-left: -2.2px;}
::ng-deep .mat-slide-toggle-thumb-container{top: 1px!important;margin-left: 1.2px;}
::ng-deep .mat-ripple-element {opacity: 0!important;}
::ng-deep button.mat-icon-button.mat-button-base {margin-top: -10px;}
::ng-deep .mat-checkbox-checked.mat-primary .mat-checkbox-background {background-color: #2B3858;border-radius: 4px;}

::ng-deep .datatable-footer .datatable-footer-inner .page-count {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #2B3858;
}

/* pagination css */
.pagination-table-info {position: relative;margin: 20px 0px;display: grid;grid-template-columns: 1fr 1fr;column-gap: 15px;}
.pagination-table-info .pagination-page-no .pagination-h3 h3, .pagination-rpp-info .rrp-h3 h3 {font-family: 'Poppins';font-style: normal;font-weight: 400;font-size: 14px;line-height: 21px;color: #2B3858;margin-bottom: 0px;}
.bold{font-weight: bold;}
.pagination-table-info .pagination-page-no {display: flex;align-items: center;column-gap: 20px;}
.pagination-table-info .pagination-left-right-btn {display: flex;align-items: center;column-gap: 35px;}
.pagination-table-info .pagination-left-btn, .pagination-table-info .pagination-right-btn {cursor: pointer;}
.pagination-table-info .pagination-rpp-info {display: flex;align-items: center;column-gap: 20px;justify-content: end;}
.pagination-table-info select.rrp-select-no {padding: 0px 5px;border: none;background: #F8F8F8;border-radius: 4px;cursor: pointer;font-family: 'Poppins';font-style: normal;font-weight: 400;font-size: 14px;line-height: 21px;color: #2B3858;}

/* custom css end table */