<div class="container">
    <div class="row">


<div class="col-2">
    <mat-form-field appearance="fill">
      <mat-label>Select Filter</mat-label>
      <mat-select name="defaultFilter"  [(ngModel)]="defaultFilter">
        <mat-option  *ngFor="let item of filterColumns" [value]="item" (click)="selectedFilter(item)">
         {{item}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="col-6">
    <mat-form-field class="w-85" appearance="standard" [hidden]="selectedValue=='montclair' || selectedValue=='byDate'">
      <mat-label>Search</mat-label>
      <input matInput [formControl]="searchControl" [(ngModel)]="keyword" placeholder="Search" #input>
      <button mat-icon-button matSuffix value="reset" matTooltip="Search">
        <mat-icon class="text-primary">search</mat-icon>
      </button>
    </mat-form-field>
    <mat-form-field class="w-85" appearance="standard" *ngIf="selectedValue=='byDate'">
        <input type="text" matInput
      ngxDaterangepickerMd
      [(ngModel)]="selected"
      placeholder="Select Date"
      [autoApply]="true"
      (datesUpdated)="choosedDate($event)"
      name="daterange"/>
      </mat-form-field>
      <button mat-raised-button value="reset" class="m-2" (click)="reset()"  matTooltip="Reset">
        <mat-icon>autorenew</mat-icon>  Reset
      </button>
     
  </div>



        <!-- <div class="col-7">
            <div class="search-section">
                <input type="text" class="search_input" (keyup)="updateFilter($event.target.value)" placeholder="Search By Program Name" [(ngModel)]="searchText" />
                <i class="fa fa-filter filter-icon" aria-hidden="true" *ngIf="searchText"></i>
                <i aria-hidden="true" *ngIf="!searchText"></i>
                <span class="back-search"> -->
          <!-- <mat-icon>search</mat-icon> -->
          <!-- <mat-icon style="position:relative;top: 4px; float: right;
                          ">search</mat-icon>
        </span>
            </div> -->

          
       
        <div class="col-3">
            <h4 class="col-greys total_providers"> 
                Total Programs<span [hidden]="selectedValue=='montclair'" > ({{temp?.total}})</span> <span [hidden]="selectedValue!=='montclair'" > ({{montTemp?.total}})</span> 
            </h4>
        </div>
   
        <div class="col-1 text-right add_buttons">

            <!-- <label class="letsplay_btn ">Import
        <input  style="display: none;"  accept=".xlsx, .xls, .csv,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" mat-raised-button type="file" color="primary" #csv_file (change)=" onFileChange($event)" name="myfile">
      </label> -->
      <mat-button-toggle matTooltip="Add" (click)="openPopUps('wizard')" value="add">
        <mat-icon class="text-success">add</mat-icon>
      </mat-button-toggle>

            <!-- <button class="letsplay_btn" data-toggle="modal" (click)="openPopUps('wizard')" data-target="#addNewTopic">
        ADD New Program </button> -->
            <!-- <button class="letsplay_btn quick_add" data-toggle="modal" (click)="openPopUps('form')" data-target="#addNewTopic">Quick Program Add</button> -->
        </div>
    </div>
    <div class="col-12">
        <h4 class="col-greys total_providers"> 
            Online Programs<span  style="cursor: pointer;" routerLink='/tables/online-programs'>(Click Here)</span>

            Published<span *ngIf="publishedPrograms?.total" style="cursor: pointer;" routerLink='/tables/published'> ({{publishedPrograms?.total}})</span> 
            <span  *ngIf="publishedPrograms?.total==0"> (0)</span> 

            Unpublished<span *ngIf="unpublished" style="cursor: pointer;" routerLink='/tables/unpublish'> ({{unpublished}})</span>
            <span *ngIf="unpublished==0"> (0)</span>

            Expiring Soon<span *ngIf="expiredProgram?.length" style="cursor: pointer;" routerLink='/tables/expiring'> ({{expiredProgram?.length}})</span>
            <span *ngIf="!expiredProgram?.length"> (0)</span>
            Expired<span *ngIf="allExpired?.length" style="cursor: pointer;" routerLink='/tables/expired'> ({{allExpired?.length}})</span>
            <span *ngIf="!allExpired?.length"> (0)</span>
            <span class="ml-5" style="color: rgb(51, 49, 49); font: bolder;" *ngIf="keyword || stratDate"> Results 
                <span *ngIf="stratDate || keyword &&  filteredData?.length"> ({{filteredData?.length}})</span>
                <span *ngIf="keyword && !filteredData?.length"> (0)</span>
             </span>
        </h4>
       
    </div>
    <div class="row">
        <div class="col-12"></div>
    </div>

    <div class="search-results" #scrollToTop infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50" (scrolled)="onScroll()" [scrollWindow]="false" *ngIf="rows.length">
        <table class="table forum-table ">
            <tbody>
                <tr>
                    <th>
                        Program Name
                    </th>
                    <!-- <th>
                        Program ID
                    </th> -->

                    <th>
                        Provider Name
                    </th>
                    <th>
                        Address
                    </th>
                    <th>
                        Price
                    </th>
                    <th>
                        Type
                    </th>
                    <th>
                        Expired in
                    </th>

                    <th >
                        Published
                    </th>
                    <th >
                        Free Trial
                    </th>
                    <th >
                    </th>
                </tr>
                <tr *ngFor="let row of rows | filter : searchText; let i = index">
                    <td>
                        <span (click)="routeToDetailPage(row)"> <a  href="{{detailPageUrl}}" target="_blank">{{row.name}}</a></span>
                    </td>
                    <!-- <td>
                        <span (click)="openPopUp(row)">{{ row._id }}</span>
                    </td> -->
                    <td>
                        <span (click)="openPopUp(row)">{{row.programOwner}}</span>
                    </td>
                    <td>
                        <span (click)="openPopUp(row)">{{row.addresses}}</span>
                    </td>
                    <td>
                        <span (click)="openPopUp(row)" *ngIf="row.isFree">Free</span>
                        <span *ngIf="!row.isFree"><span (click)="openPopUp(row)">${{row.pricePerParticipant}}</span><span *ngIf="row.pricePeriod.periodAmount">/{{row.pricePeriod.periodAmount}}</span></span>
                    </td>
                    <td>
                        <span (click)="openPopUp(row)">{{row.type}}</span>
                    </td>
                    <td>
                        <span *ngIf="!row?.isDateNotMention && !row?.isExpired"><counter [isProgram]="true" [futureString]="row?.date?.to"></counter></span>
                        <span  *ngIf="row?.isDateNotMention && !row?.isExpired">Date Not Mentioned</span>
                        <span  *ngIf="row?.isExpired" style="background: red;">Expired</span>
                    </td>
                    <td>
                        <!-- <span *ngIf="row?.isPublished" (click)="publishUnpublishProgram(row,i,false)">Click To UnPublish</span>
                        <span *ngIf="!row?.isPublished" (click)="publishUnpublishProgram(row,i,true)">Click To Publish</span> -->
                        <mat-slide-toggle [checked]="row?.isPublished" color="primary"
                        (change)="publishUnpublishProgram($event,row)">
                    </mat-slide-toggle>

                    </td>
                    <td>
                        <!-- <span *ngIf="row?.isPublished" (click)="publishUnpublishProgram(row,i,false)">Click To UnPublish</span>
                        <span *ngIf="!row?.isPublished" (click)="publishUnpublishProgram(row,i,true)">Click To Publish</span> -->
                        <mat-slide-toggle [checked]="row?.isFreeTrial" color="primary"
                        (change)="trueFalseFreeTrial($event,i)">
                    </mat-slide-toggle>

                    </td>

                    <!-- <td> -->
                    <!-- <mat-chip *ngIf="row.status==='active'" matTooltip="status" matTooltipPosition="above" mat-sm-chip selected
            style="background-color: green;" (click)="programActiveInActive(row)">{{row.status}}</mat-chip>
          <mat-chip *ngIf="row.status==='inactive'" matTooltip="status" matTooltipPosition="above" mat-sm-chip selected
            style="background-color: red;" (click)="programActiveInActive(row)">{{row.status}}</mat-chip> -->

                    <!-- <mat-icon *ngIf="row.status==='active'" matTooltip="{{row.status}}" [ngStyle]="{'color':'green'}"
              (click)="programActiveInActive(row)">circle</mat-icon>
            <mat-icon *ngIf="row.status==='inactive'" matTooltip="{{row.status}}" color="warn"
              (click)="programActiveInActive(row)">circle</mat-icon> -->

                    <!-- <span *ngIf="row.status==='active'" class="pointer" matTooltip="{{row.status}}" [ngStyle]="{'color':'#53B2E8'}" (click)="programActiveInActive(row)"><span>active</span></span>
                        <span *ngIf="row.status==='inactive'" class="pointer" matTooltip="{{row.status}}" [ngStyle]="{'color':'red'}" (click)="programActiveInActive(row)"><span>Inactive</span></span>
                    </td> -->
                    <td>
                        <button mat-icon-button [matMenuTriggerFor]="msgMenu" class="hidden-on-open">
              <mat-icon class="text-muted">more_vert</mat-icon>
            </button>
                        <mat-menu #msgMenu="matMenu">
                            <button mat-menu-item (click)="createDuplicate(row)">
                                <mat-icon class="col-blue">file_copy</mat-icon>Duplicate
                              </button>

                            <button mat-menu-item (click)="edit(row)">
                <mat-icon class="col-blue">edit</mat-icon>Edit
              </button>
                            <button mat-menu-item (click)="deleteProgram(row,i)">
                <i class="icon col-blue mat-icon fa fa-trash-o" aria-hidden="true"></i>Delete
                <!-- <mat-icon>delete</mat-icon>Delete -->
              </button>
               <button mat-menu-item (click)="manage(row)">
                <mat-icon class="col-blue">open_in_new</mat-icon>Manage
              </button>
              <button mat-menu-item (click)="form(row,i)">
                <mat-icon class="col-blue">timer_off</mat-icon>Set to be Expired
              </button>
                            <button mat-menu-item (click)="ProgramDataPopUp(row)">
                <mat-icon class="col-blue">view_comfy</mat-icon>View
              </button>


                        </mat-menu>

                    </td>

                </tr>
            </tbody>
        </table>
    </div>
</div>