<div class="container table-header-info mb-30">
  <div class="row">
    <!-- <div class="col-2">
            <mat-form-field appearance="fill">
            <mat-label>Select Filter</mat-label>
            <mat-select name="defaultFilter"  [(ngModel)]="defaultFilter">
                <mat-option  *ngFor="let item of filterColumns" [value]="item" (click)="selectedFilter(item)">
                {{item}}
                </mat-option>
            </mat-select>
            </mat-form-field>
        </div> -->
    <div class="col-6 tablesuser-flex">
      <h4>
        Total Activities<span class="blue-clr"> ({{totalProgramsCount}})</span>
      </h4>
      <div class="add-program-btn">
        <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
          <mat-button-toggle matTooltip2="Add" (click)="openPopUps('wizard')" value="add">
            <mat-icon class="text-success">+ Activity</mat-icon>
          </mat-button-toggle>
        </mat-button-toggle-group>
      </div>
      <div class="add-program-btn">
        <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
          <mat-button-toggle matTooltip2="Add" (click)="newForm({})" value="add">
            <mat-icon class="text-success">+ Activity New</mat-icon>
          </mat-button-toggle>
        </mat-button-toggle-group>
      </div>
    </div>
    <div class="col-6">
      <div class="search-form-info">
        <mat-form-field class="w-85" appearance="standard"
          [hidden]="selectedValue=='montclair' || selectedValue=='byDate'">
          <!-- <mat-label>Search</mat-label> -->
          <input matInput [formControl]="searchControl" placeholder="Search">
          <button mat-icon-button matSuffix value="reset" matTooltip="Search">
            <mat-icon class="text-primary">search</mat-icon>
          </button>
        </mat-form-field>
        <!-- <mat-form-field class="w-85" appearance="standard" *ngIf="selectedValue=='byDate'">
                <input type="text" matInput
            ngxDaterangepickerMd
            [(ngModel)]="selected"
            placeholder="Select Date"
            [autoApply]="true"
            (datesUpdated)="choosedDate($event)"
            name="daterange"/>
            </mat-form-field> -->
        <!-- <button mat-raised-button value="reset" class="m-2" (click)="reset()"  matTooltip="Reset">
                <mat-icon>autorenew</mat-icon>  Reset
            </button> -->
      </div>
    </div>
    <!-- <div class="col-7">
            <div class="search-section">
                <input type="text" class="search_input" (keyup)="updateFilter($event.target.value)" placeholder="Search By Program Name" [(ngModel)]="searchText" />
                <i class="fa fa-filter filter-icon" aria-hidden="true" *ngIf="searchText"></i>
                <i aria-hidden="true" *ngIf="!searchText"></i>
                <span class="back-search"> -->
    <!-- <mat-icon>search</mat-icon> -->
    <!-- <mat-icon style="position:relative;top: 4px; float: right;
                          ">search</mat-icon>
        </span>
            </div> -->
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-12">
      <ul class="table-top-links">
        <!-- <li [ngClass]="{'active': activeTab === 'online'}" ><a (click)="onlinePrograms()">Online Programs</a></li> -->
        <li [ngClass]="{'active': activeTab === ''}"><a (click)="activeProgramsTab('')"> All Activities <span
              *ngIf=" activeTab === ''">({{totalProgramsCount}})</span></a></li>

        <li [ngClass]="{'active': activeTab === 'online'}"><a (click)="activeProgramsTab('online')">Online
            Activities<span *ngIf=" activeTab === 'online'">({{rows?.length}})</span></a></li>

        <li [ngClass]="{'active': activeTab === 'published'}"><a (click)="activeProgramsTab('published')"> Published
            <span *ngIf=" activeTab === 'published'">({{publishedUnpublishedList?.total}})</span></a></li>

        <li [ngClass]="{'active': activeTab === 'unpublished'}"><a (click)="activeProgramsTab('unpublished')">
            Unpublished <span *ngIf="activeTab === 'unpublished'">({{publishedUnpublishedList?.total}})</span></a></li>

        <li [ngClass]="{'active': activeTab === 'montclair'}"><a (click)="activeProgramsTab('montclair')"> Montclair
            <span *ngIf="activeTab === 'montclair'">({{temp?.message}})</span></a></li>

        <li [ngClass]="{'active': activeTab === 'expiring'}"><a (click)="activeProgramsTab('expiring')"> Expiring Soon
            <span *ngIf="activeTab === 'expiring'">({{expiredProgram?.items?.length}})</span></a></li>

        <li [ngClass]="{'active': activeTab === 'expired'}"><a (click)="activeProgramsTab('expired')"> Expired <span
              *ngIf="activeTab === 'expired'">({{allExpired?.items?.length}})</span>
            <span class="ml-5" style="color: rgb(51, 49, 49); font: bolder;" *ngIf="keyword || stratDate"> Results
              <span *ngIf="stratDate || keyword &&  filteredData?.length"> ({{filteredData?.length}})</span>
              <span *ngIf="keyword && !filteredData?.length"> (0)</span>
            </span></a>
        </li>
      </ul>
    </div>
  </div>
  <div class="row  usertable table-body-info">
    <div class="col-12">
      <div class="example-container mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort>
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Activity Name </th>
            <td mat-cell *matCellDef="let row">
              <span (click)="routeToDetailPage(row)"> <a href="{{detailPageUrl}}"
                  target="_blank">{{row?.name}}</a></span>
            </td>
          </ng-container>

          <ng-container matColumnDef="programOwner">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Provider Name </th>
            <td mat-cell *matCellDef="let row" (click)="openPopUp(row)">
              {{row.programOwner}}
            </td>
          </ng-container>

          <ng-container matColumnDef="addresses">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Address </th>
            <td mat-cell *matCellDef="let row" (click)="openPopUp(row)">
              {{row.addresses}}
            </td>
          </ng-container>

          <ng-container matColumnDef="pricePerParticipant">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Price </th>
            <td mat-cell *matCellDef="let row" (click)="openPopUp(row)">
              <span *ngIf="row?.isFree">Free</span>
              <span *ngIf="!row?.isFree"><span>${{row?.pricePerParticipant}}</span><span
                  *ngIf="row?.pricePeriod?.periodAmount">/{{row?.pricePeriod?.periodAmount}}</span></span>
            </td>
          </ng-container>
          <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Type </th>
            <td mat-cell *matCellDef="let row" (click)="openPopUp(row)">
              <span *ngIf="row.type=='Drops-in'||row.type=='Drop-in'">Drop-ins</span>
              <span *ngIf="row.type!=='Drops-in'&& row.type!=='Drop-in'">{{row?.type}}</span>
            </td>
          </ng-container>

          <ng-container matColumnDef="daysLeft">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Expiring In </th>
            <td mat-cell *matCellDef="let row">
              <span [ngClass]="{'expiredP':row?.daysLeft=='Expired'}"
                *ngIf="!row?.isDateNotMention && !row?.isExpired">{{row?.daysLeft}}</span>
              <span *ngIf="row?.isDateNotMention && !row?.isExpired">Date Not Mentioned</span>
              <span *ngIf="row?.isExpired" style="background: red;padding: 3px 10px;color: #fff;">Expired</span>
            </td>
          </ng-container>

          <ng-container matColumnDef="isPublished">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
            <td class="center" mat-cell *matCellDef="let row">
              <mat-slide-toggle [checked]="row?.isPublished" color="primary"
                (change)="publishUnpublishProgram($event,row)">
              </mat-slide-toggle>
            </td>
          </ng-container>

          <ng-container matColumnDef="isFreeTrial">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Free Trial </th>
            <td class="center" mat-cell *matCellDef="let row">
              <mat-slide-toggle [checked]="row?.isFreeTrial" color="primary" (change)="trueFalseFreeTrial($event,row)">
              </mat-slide-toggle>
            </td>
          </ng-container>
          <ng-container matColumnDef="star" stickyEnd>
            <th mat-header-cell class="w-25" *matHeaderCellDef>Action</th>
            <td mat-cell class="w-25" *matCellDef="let row; let i = index">
              <button mat-icon-button [matMenuTriggerFor]="action">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #action="matMenu">
                <button mat-menu-item (click)="createDuplicate(row)">
                  <mat-icon class="col-blue">file_copy</mat-icon>Duplicate
                </button>
                <button mat-menu-item (click)="newForm(row)">
                  <mat-icon class="col-blue">edit</mat-icon>New-Form
                </button>
                <button mat-menu-item (click)="edit(row)">
                  <mat-icon class="col-blue">edit</mat-icon>Edit
                </button>
                <button mat-menu-item (click)="deleteProgram(row,i)">
                  <mat-icon class="col-blue">delete</mat-icon>Delete
                </button>
                <button mat-menu-item (click)="manage(row)">
                  <mat-icon class="col-blue">open_in_new</mat-icon>Manage
                </button>
                <button mat-menu-item (click)="form(row,i)">
                  <mat-icon class="col-blue">timer_off</mat-icon>Set to be Expired
                </button>
              </mat-menu>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;">
          </tr>
        </table>
      </div>
    </div>
    <div class="col-12" [hidden]="activeTab === 'expiring' || activeTab === 'expired' || searchControl.value">
      <mat-paginator [length]="pageLength" [showFirstLastButtons]="true" [pageSize]="this.pageSize"
        [pageSizeOptions]="[5, 10, 25, 100]" (page)="pageChanged($event)" aria-label="Select page">
      </mat-paginator>
    </div>
  </div>
</div>