<div class="container">
  <br>
  <div class="row">
    <div class="col-12">


      <div class="search-section">
        <input type="text" class="search_input" placeholder="Search By Badge Name" [(ngModel)]="searchText" />
        <i class="fa fa-filter filter-icon" aria-hidden="true" *ngIf="searchText"></i>
        <span class="back-search">
          <mat-icon style="position:relative;top: 4px; float: right;
          ">search</mat-icon>
        </span>
      </div>

      <div class="row">
        <div class="col-6">
          <h4 class="col-greys">Feedback Survey</h4>
        </div>
      
      </div>
    </div>
  </div>
  <table class="table forum-table">
    <tbody>
      <tr>
        <th>
         Name
        </th>
        <th>
          Description
        </th>
        <th>
          URL
        </th>
        <th>
          Start Date
        </th>
        <th>
          End Date
        </th>


        <th>
        </th>
      </tr>
      <tr *ngFor="let item of feedback | filter : searchText; let i = index">
        <td>
          <span (click)="openPopUp(item)">{{item.feedback}}</span>
        </td>
        <td>
          <span (click)="openPopUp(item)" > {{item.description}}</span>
        </td>
        <td>
          <span (click)="openPopUp(item)" > {{item.url}}</span>
        </td>
        <td>
          <span (click)="openPopUp(item)">{{item.startDate | date}}</span>
        </td>
        <td>
          <span (click)="openPopUp(item)">{{item.endDate | date}}</span>
        </td>
        <td>
          <button mat-icon-button [matMenuTriggerFor]="msgMenu" class="hidden-on-open">
              <mat-icon class="text-muted">more_vert</mat-icon>
          </button>
          <mat-menu #msgMenu="matMenu">
              <button mat-menu-item >
                  <mat-icon>edit</mat-icon>Edit
              </button>
              <button mat-menu-item (click)="feedbackSurveyDelete(item,i)">
                  <mat-icon>delete</mat-icon>Delete
              </button>
          </mat-menu>
      </td>
      </tr>
      
    </tbody>
  </table>

</div>

