<div class="container">
    <br>
    <mat-icon class="icons-userss">people</mat-icon>

    <span class="name-color">{{ambss.firstName}}</span>
    <br>
    <div class="row margin-btms">
        <div class="col-6">
            <p class="balnc">
                <span>Balance:</span>
                <span  [ngClass]="{
                    'positive' : ambss.totalPoints > 0,
                    'negative' : ambss.totalPoints < 0
                 }"> {{ambss.totalPoints}}</span>
            </p>
        </div>
        <div class="col-6 text-right">

            <input mat-button class="letsplay_btn" type="button" color="primary" value="+ ADD ACTIVITY"
            data-toggle="modal" data-target="#addActivity" >
        </div>
    </div>

    <table class="table forum-table">
        <tbody>
            <tr>
                <th>
                    Activity
                </th>
                <th>
                    Description
                </th>
                <th>
                    Points
                </th>
                <th>
                    Updated On
                </th>

                <!-- <th>
                  Actions
              </th> -->
            </tr>
            <tr *ngFor="let point of ambss.rewardpointIds">
                <td>
                    {{point.activity}}
                </td>
                <td>
                    {{point.description}}
                </td>
                <td [ngClass]="{
                    'positive' : point.activityPoints > 0,
                    'negative' : point.activityPoints < 0
                 }">
                    {{point.activityPoints}}
                </td>
                <td>
                    {{point.createdOn | date}}
                </td>


            </tr>
        </tbody>
    </table>

</div>

<!-- Modal -->
<div class="modal fade new_topic" id="addActivity" data-backdrop="static" data-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <mat-icon class="material-icons icon-image-preview">cancel</mat-icon>
            </button>
            <div class="modal-body">
                <h2>Add Activity</h2>
                <div class="form_outer">
                    <form [formGroup]="activityForm" (ngSubmit)="Activity()">
                        <div class="form-group">
                            <label>Activity</label>
                            <input type="text" class="form-control" formControlName="activity" placeholder="Type">
                        </div>
                        <div class="form-group length">
                            <label>Description</label>
                            <textarea type="text" class="form-control" formControlName="description" placeholder="Type" rows="7"></textarea>
                            <div class="text_length">
                                <p>(0 of 150)</p>
                            </div>
                        </div>
                       
                        <div class="form-group">
                            <label>Points</label>
                            <input type="number" class="form-control" formControlName="point" placeholder="Type">
                        </div>
                        <div class="form-group submit">
                            <button class="submit_btn">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>