<!-- <div *ngIf="!isTable"> -->
  <div class="title_heading">
    <h2 class="title addform" [hidden]="editData">
      Add Topic
    </h2>
    <h2 class="title addform" [hidden]="!editData">
      Update Topic
    </h2>
    <span (click)="dialogRef.close()"> <mat-icon>close</mat-icon></span>
  </div>
    <div class="container addform">
    <div class="row pt-3 pb-3">
      <div class="col-6">
        <form [formGroup]="topicForm" >
  
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Name</mat-label>
            <input type="text" matInput [formControl]="topicForm.controls['Name']" [(ngModel)]="topicData.Name" placeholder="Topic Name">
            <mat-error *ngIf="topicForm.controls.Name?.errors?.required" required>
             Topic Name is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </form>
      </div>
      <div class="col-6">
        <form [formGroup]="topicForm" >
  
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Url</mat-label>
            <input type="text" matInput [formControl]="topicForm.controls['url']" [(ngModel)]="topicData.url" placeholder="Topic Url">
            <mat-error *ngIf="topicForm.controls.url?.errors?.required" required>
             Topic Url is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </form>
      </div>

    </div>
  </div>
    <div class="col-12 button-form pb-3">
      <button type="submit" mat-raised-button [disabled]="!topicForm.valid" (click)="onSubmit()">Submit</button>
    </div>
    
   