mat-form-field {
    width: 100%;
}

.button-form button.mat-focus-indicator.mat-raised-button.mat-button-base.mat-primary {
    margin: 0px 20px 0px 0px;
}

.button-form {
    display: block;
    display: flex;
    justify-content: flex-end;
}

table {
    width: 100%;
}
button.edit-btns1 {
    background-color: #4dcaf0 !important;
    color: white !important;
}
button.edit-btns2 {
    color: #4dcaf0 !important;
}
h2.title.edit-heading {
    text-align: center;
    font-size: 20px;
}