<div class="row">
  <div class="col-1"></div>
  <div class="col-10">
    <div><br>
      <h3 style="text-align: center;">Provider Reports</h3>

      <div class="pb-1 text-center" [formGroup]="filterForm">
        <!-- <h4> Date Filter</h4> -->
        <div class="container">
          <div class="row">
            <div class="col-6">
              <mat-form-field class="full-width">
                <input matInput name="sdate" formControlName="fromDate" [(ngModel)]="fromDate"
                  [owlDateTimeTrigger]="dt1" placeholder="Start Date" [owlDateTime]="dt1" readonly>
                <owl-date-time [pickerType]="'calendar'" #dt1></owl-date-time>
              </mat-form-field>
            </div>
            <div class="col-6">
              <mat-form-field class="full-width">
                <input matInput name="edate" formControlName="toDate" [(ngModel)]="toDate" [owlDateTimeTrigger]="dt2"
                  placeholder="End Date" [owlDateTime]="dt2" readonly>
                <owl-date-time [pickerType]="'calendar'" #dt2></owl-date-time>
              </mat-form-field>
            </div>
          </div>
        </div>


        <button style="margin-left: 15px;" mat-raised-button color="primary" (click)="getReport()">Show</button>
      </div>

    </div>
    <div class="row">
      <div class="col-3" *ngFor="let count of response?.data?.data; index as i">
        <h5 (click)="goToList(response?.data?.labels[i])"class="report_heading" *ngIf="isResponse" style="text-align: center;">{{response?.data?.labels[i]}}:&nbsp;&nbsp;{{count}}
        </h5>
      </div>

    </div>
    <br>


    <div>
      <div style="display: block" *ngIf="isBarData">
        <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
          [legend]="barChartLegend" [chartType]="barChartType">
        </canvas>
      </div>
    </div>
    <h2 class="noData" *ngIf="isRecord">{{response.error}}</h2>

  </div>
  <div class="col-1">

  </div>
</div>