.noData{
    text-align: center;
    text-decoration-color: rgb(228, 231, 231);
    }
    h5.report_heading:hover {
        background: #EEF9FF !important;
        color: #53B2E8 !important;
        border-radius: 100px;
        cursor: pointer;
    }