<div>

    <button mat-raised-button style="margin: 15px;" (click)="add()" color="primary">ADD</button>
    <h3 style="text-align: center;">Admin List</h3>

    <mat-form-field style="width: 100%">
        <input matInput placeholder="Search" value="" (keyup)='updateFilter($event)' />
    </mat-form-field>

    <ngx-datatable [rows]="rows" class="material bg-white" [limit]="pageSize" [scrollbarH]="true"
        [columnMode]="ColumnMode.force" [rowHeight]="50" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
        [sorts]="[{ prop: 'name', dir: 'desc' }]" [externalPaging]="true" [count]="100" [offset]="pageNo"
        (page)='setPage($event)'>
        <ngx-datatable-column name="First Name">

            <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.firstName}}
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Last Name">

            <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.lastName}}
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Email">

            <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.email}}
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Phone No.">

            <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.phoneNumber}}
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Role">

            <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.role}}
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Action">

            <ng-template let-row="row" ngx-datatable-cell-template>
                <mat-icon matTooltip="edit" matTooltipPosition="above" (click)="edit(row)">edit</mat-icon>
                <mat-icon matTooltip="delete" matTooltipPosition="above" color="warn">delete</mat-icon>


            </ng-template>
        </ngx-datatable-column>
    </ngx-datatable>
</div>