<div class="container">
    <br>
    <div class="row">
        <div class="col-12">


            <div class="search-section">
                <input type="text" class="search_input" placeholder="Search By Topic's Name" [(ngModel)]="searchText" />
                <i class="fa fa-filter filter-icon" aria-hidden="true" *ngIf="searchText"></i>
                <span class="back-search">
                    <mat-icon>search</mat-icon>
                </span>
            </div>

            <div class="row">
                <div class="col-6">
                    <h4 class="col-greys">Topic's List</h4>
                </div>
                <div class="col-6 text-right add_buttons">
                    <button class="letsplay_btn" data-toggle="modal" data-target="#addNewTopic">+ ADD NEW</button>
                </div>
            </div>
        </div>

    </div>

    <table class="table forum-table">
        <tbody>
            <tr>
                <th>
                    Title
                </th>
                <th>
                    Description
                </th>

                <th>
                    Assign To
                </th>
                <th>
                    Tags
                </th>
                <th>
                </th>
            </tr>
            <!-- <div class="scroll"> -->
            <tr *ngFor="let forum of allforums | filter : searchText ">
                <td>
                    <span (click)="openPopUp(forum)"> {{forum.title}}</span>
                </td>
                <td>
                    <span (click)="openPopUp(forum)"> {{forum.description}}</span>
                </td>
                <td>
                    <span (click)="openPopUp(forum)"> {{forum.postFor}}</span>

                </td>

                <td class="over">
                    <ul class="tags_list" *ngFor="let tag of forum.tags ">
                        <span (click)="openPopUp(tag)">{{tag.name}}</span>
                    </ul>
                </td>


                <td>
                    <mat-icon [matMenuTriggerFor]="menu" class="menubutton ">more_vert</mat-icon>
                    <mat-menu #menu="matMenu" yPosition="below">
                        <button mat-menu-item (click)="editTopic(forum)">
                            <mat-icon class="col-blue">edit</mat-icon>Edit
                        </button>
                        <button mat-menu-item (click)="deletePost(forum)">
                            <i aria-hidden="true" class="icon col-blue mat-icon fa fa-trash-o"></i>
                            Delete
                            <!-- <i class="fal fa-trash-alt" class="col-blue"></i> -->
                        </button>
                    </mat-menu>
                </td>
            </tr>
            <!-- </div> -->

        </tbody>
    </table>

</div>


<!-- Modal -->
<div class="modal fade new_topic" id="addNewTopic" data-backdrop="static" data-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <mat-icon class="material-icons icon-image-preview">cancel</mat-icon>
            </button>
            <div class="modal-body">
                <h2>Add New Topic</h2>
                <div class="form_outer">
                    <form class="example-form" [formGroup]="forumForm">

                        <div class="form-group">
                            <label>Add for</label>
                            <div class="checkbox_outer">
                                <label class="ch-radio">
                                    <input name="hiring" color="primary" (click)="addedpost('all')" class="forums"
                                        type="radio">
                                    <span>
                                        <i class="ch-icon material-icons icon-image-preview">done</i>All
                                    </span>
                                </label>
                                <label class="ch-radio">
                                    <input name="hiring" (click)="addedpost('parent')" class="forums" type="radio"
                                        value="parents">
                                    <span>
                                        <i class="ch-icon material-icons icon-image-preview">done</i>
                                        Parents
                                    </span>

                                </label>
                                <label class="ch-radio">
                                    <input name="hiring" class="forums" (click)="addedpost('provider')" type="radio"
                                        value="Providers">
                                    <span>
                                        <i class="ch-icon material-icons icon-image-preview">done</i>Providers
                                    </span>
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Title</label>
                            <input type="text" class="form-control" formControlName="title" placeholder="Type">
                        </div>
                        <div class="form-group length">
                            <label>Description</label>
                            <textarea type="text" class="form-control" formControlName="description" placeholder="Type"
                                rows="7"></textarea>
                            <div class="text_length">
                                <p>(0 of 150)</p>
                            </div>
                        </div>
                        <!-- <div class="form-group"> -->
                        <label>Tag</label>
                        <mat-form-field class="w-100">
                            <mat-label>Tags</mat-label>
                            <mat-select class="formControl" multiple formControlName="tagIds">
                                <mat-option *ngFor="let feature of tagsData" [value]="feature._id">
                                    {{feature.name}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <!-- <div class="tag_outer">
                                <p>Free play
                                    <a href="javascript:;">
                                        <mat-icon class="material-icons icon-image-preview">cancel</mat-icon>
                                    </a>


                                </p>
                                <p>Camping
                                    <a href="javascript:;">
                                        <mat-icon class="material-icons icon-image-preview">cancel</mat-icon>
                                    </a>
                                </p>
                            </div> -->
                        <!-- </div> -->
                        <!-- <div class="form-group">
                            <label>Comments</label>
                            <input type="text" class="form-control" formControlName="comments" placeholder="Type">
                        </div> -->
                        <div class="form-group submit">
                            <button class="submit_btn" (click)="onSubmit()" data-dismiss="modal"
                                [disabled]="!forumForm.valid || !isPostFor">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>