<form [formGroup]="activityForm" (ngSubmit)="Activity()">
  <div class="container form_back">
    <h3 class="text-center col-blue">Adjust Activity Points</h3>
    <div class="row ">
      <div class="col-3">
      </div>
      <div class="col-3">
        <mat-form-field class="full-width">
          <mat-label> Activity Name</mat-label>
          <input matInput  placeholder="title"  formControlName="activity">
        </mat-form-field>

      
        <mat-form-field class="full-width">
          <mat-label> Adjust Points</mat-label>
          <input matInput type="number" placeholder="title"   formControlName="point" >
        </mat-form-field>
      </div>
      <div class="col-3">
        <mat-form-field class="full-width">
          <mat-label>Description</mat-label>
          <input matInput   placeholder="title"   formControlName="description"  >
        </mat-form-field>
      </div>
      <div class="col-3">
      </div>
     
    </div>
    <div class="text-center">
      <button type="submit" class="btn-color"   mat-raised-button color="primary"
      >Add</button>
    </div>
  </div>
 
</form>