.btn-color {
    background-color: #4dcaf0;
    color: white;
    border: none;
    font-weight: 500;
    padding: 4px 11px 4px 11px;
    border-radius: 5px;
}
.form_back{
    background-color: lightgray;
    border-radius: 10px;
    text-align: center;
    padding: 10px 0px 10px 0px;
}