 ::ng-deep .egret-navy .mat-chip.mat-standard-chip{
    background-color: #4dcaf0;
}

.title_heading {
    justify-content: space-between;
    display: flex;
}
.title_heading span{
  cursor: pointer;
}
h4{
    color: #2B3858;
}