<mat-tab-group>

    <!-- first tab -->

    <mat-tab label="Add Alert By Role">
        <mat-card>
            <form [formGroup]="alertForm" (ngSubmit)="onSubmit()" autocomplete="off">
                <div class="row">
                    <div class="col-6">
                        <p>
                            <mat-form-field>
                                <mat-label>Select users to send notification</mat-label>
                                <select matNativeControl required formControlName="alertFor">
                                    <option value="all">All</option>
                                    <option value="parent">Parent</option>
                                    <option value="provider">Provider</option>
                                </select>
                            </mat-form-field>
                        </p>

                        <p>
                            <mat-form-field>
                                <mat-label>Start date</mat-label>
                                <input matInput [matDatepicker]="picker" formControlName="fromDate" readonly>
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>
                        </p>

                        <p>
                            <mat-form-field class="full-width">
                                <input matInput name="fname" placeholder="Add Message" formControlName="msg" required>
                            </mat-form-field>
                        </p>

                    </div>

                    <div class="col-6">
                        <p>
                            <mat-form-field>
                                <mat-label>Select Message Type</mat-label>
                                <select matNativeControl required formControlName="msgType">
                                    <option value="notice">Notice</option>
                                    <option value="information">Information </option>
                                    <option value="warning">Warning</option>

                                </select>
                            </mat-form-field>
                        </p>
                        <p>
                            <mat-form-field>
                                <mat-label>End date</mat-label>
                                <input matInput [matDatepicker]="pickers" formControlName="toDate" readonly>
                                <mat-datepicker-toggle matSuffix [for]="pickers"></mat-datepicker-toggle>
                                <mat-datepicker #pickers></mat-datepicker>
                            </mat-form-field>
                        </p>
                    </div>
                </div>
                <button mat-raised-button color="warn" (click)="back()">Back</button>
                <button style="align-items:flex-end;margin-left: 15px;" mat-raised-button color="primary"
                    [disabled]="alertForm.invalid">Submit</button>
            </form>
        </mat-card>

    </mat-tab>

    <!-- second tab for email -->

    <mat-tab label="Add Alert By Email">
        <mat-card>
            <form [formGroup]="alertFormEmail" (ngSubmit)="onSubmits()" autocomplete="off">
                <div class="row">
                    <div class="col-6">
                        <p>
                            <mat-form-field class="full-width">
                                <input matInput name="fname" placeholder="Enter Your Email" formControlName="email"
                                    required>
                            </mat-form-field>
                        </p>

                        <p>
                            <mat-form-field>
                                <mat-label>Start date</mat-label>
                                <input matInput [matDatepicker]="pickerss" formControlName="fromDate">
                                <mat-datepicker-toggle matSuffix [for]="pickerss"></mat-datepicker-toggle>
                                <mat-datepicker #pickerss></mat-datepicker>
                            </mat-form-field>
                        </p>

                        <p>
                            <mat-form-field class="full-width">
                                <input matInput name="fname" placeholder="Add Message" formControlName="msg" required>
                            </mat-form-field>
                        </p>

                    </div>

                    <div class="col-6">
                        <p>
                            <mat-form-field>
                                <mat-label>Select Message Type</mat-label>
                                <select matNativeControl required formControlName="msgType">
                                    <option value="ALL">Notice</option>
                                    <option value="PARENT">Information </option>
                                    <option value="PARENT">Warning</option>

                                </select>
                            </mat-form-field>
                        </p>
                        <p>
                            <mat-form-field>
                                <mat-label>End date</mat-label>
                                <input matInput [matDatepicker]="pickersr" formControlName="toDate">
                                <mat-datepicker-toggle matSuffix [for]="pickersr"></mat-datepicker-toggle>
                                <mat-datepicker #pickersr></mat-datepicker>
                            </mat-form-field>
                        </p>
                    </div>
                </div>
                <button mat-raised-button color="warn" (click)="back()">Back</button>
                <button style="align-items:flex-end;margin-left: 15px;" mat-raised-button color="primary"
                    [disabled]="alertFormEmail.invalid">Submit</button>
            </form>
        </mat-card>
    </mat-tab>

</mat-tab-group>