<mat-card class="p-0">
    <mat-card-title class="">
        <div class="card-title-text">Provider Form</div>
        <mat-divider></mat-divider>
    </mat-card-title>
    <mat-card-content>
        <form [formGroup]="providerForm" (ngSubmit)="onSubmit()">
            <div fxLayout="row wrap">
                <div fxFlex="100" fxFlex.gt-xs="50" class="pr-1">

                    <div class="pb-1">
                        <mat-form-field class="full-width">
                            <mat-label>Name</mat-label>
                            <mat-select [(value)]="user.type" name="type" [formControl]="providerForm.controls['type']"
                                [(ngModel)]="user.type" required>
                                <mat-option value="Solo">Solo</mat-option>
                                <mat-option value="Agency">Agency</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div class="pb-1">
                        <mat-form-field class="full-width">
                            <input matInput name="fname" placeholder="Name"
                                [formControl]="providerForm.controls['firstName']" [(ngModel)]="user.firstName"
                                required>
                        </mat-form-field>
                    </div>

                    <div class="pb-1">
                        <mat-form-field class="full-width">
                            <mat-label>Email</mat-label>
                            <input matInput type="email" name="email" placeholder="Your Email"
                                [formControl]="providerForm.controls['email']" [(ngModel)]="user.email" required>
                        </mat-form-field>
                    </div>

                    <div class="pb-1">
                        <mat-form-field class="full-width">
                            <mat-label>Slect Category</mat-label>
                            <mat-select [formControl]="providerForm.controls['categoryIds']" multiple #itemValue (selectionChange)="changeItem($event.value)" 
                            [(ngModel)]="user.categoryIds" required>
                
                              <mat-option selected value="single" *ngFor='let item of categoriesList' 
                               [value]="item.id" >{{item.name}}</mat-option>
                              
                
                            </mat-select>
                          </mat-form-field>
                    </div>

                    <!-- <div class="pb-1">
                        <mat-form-field class="full-width">
                            <mat-label>SELECT SUB-CATEGORIES</mat-label>
                            <mat-select [formControl]="providerForm.controls['subCategoryIds']" multiple #itemValue (selectionChange)="changetags($event.value)"  >
                              <mat-option selected value="single" *ngFor='let item of subCategories' 
                               [value]="item" >{{item.name}}</mat-option>
                              
                
                            </mat-select>
                        </mat-form-field>
                    </div> -->
                  
                    <mat-label style="color: rgb(118, 118, 118);">Sub-Category</mat-label>
                    <div class="full-width">
                      <ng-autocomplete [data]="tags" [searchKeyword]="keyword" (selected)='selectEvent($event)'
                        (inputChanged)='onChangeSearch($event)' (inputFocused)='onFocused($event)' [itemTemplate]="itemTemplate"
                        [notFoundTemplate]="notFoundTemplate">
                      </ng-autocomplete>
          
                      <ng-template #itemTemplate let-item>
                        <a [innerHTML]="item.name"></a>
                      </ng-template>
          
                      <ng-template #notFoundTemplate let-notFound>
                        <div *ngIf="tags.length" [innerHTML]="notFound"></div>
                      </ng-template>
                    </div>
          
                    <br>
                    <mat-form-field class="full-width">
                      <mat-chip-list>
                        <mat-chip *ngFor="let t of tag" [selectable]="selectable"
                            [removable]="removable" (removed)="remove(t)">
                            {{t.name}}<span *ngIf="!t?.name">{{t}}</span>
                            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                        </mat-chip>
                    </mat-chip-list>
                    </mat-form-field>
          
                    <br />


                    <!-- <div class="pb-1">
                        <mat-form-field class="full-width">
                            <mat-label>Note</mat-label>
                            <textarea matInput #note maxlength="3000" placeholder="Type"
                                [formControl]="providerForm.controls['note']" [(ngModel)]="user.note"></textarea>
                            <mat-hint align="end">{{note.value?.length  || 0}} / 3000</mat-hint>

                        </mat-form-field>
                    </div> -->


                    <div class="pb-1">
                        <mat-form-field class="full-width">
                            <mat-label>Source</mat-label>
                            <mat-select name="source" [formControl]="providerForm.controls['source']"
                                [(ngModel)]="user.source" multiple >
                                <mat-option   *ngFor="let src of source" value="{{src}}">{{src}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="pb-1">
                        <mat-form-field class="full-width">
                            <input matInput name="provider_other_locations" placeholder="Location" (click)="openMap()"
                                [formControl]="providerForm.controls['location']" [(ngModel)]="user.location" readonly>
                        </mat-form-field>
                    </div>

                    <div class="pb-1">
                        <mat-form-field class="full-width">
                            <input matInput name="website" formControlName="website"
                                placeholder="Your Website (http://example.com)"
                                [formControl]="providerForm.controls['website']" [(ngModel)]="user.website">
                        </mat-form-field>
                    </div>

                    <div class="pb-1">
                        <mat-form-field class="full-width">
                            <input matInput name="facebookRating" placeholder="Facebook Rating"  [formControl]="providerForm.controls['facebookRating']"
                             type=number [(ngModel)]="user.rating.facebookRating">
                        </mat-form-field>
                    </div>
                    <div class="pb-1">
                        <mat-form-field class="full-width">
                            <input matInput name="numberOfFacebook" placeholder="Number of facebook users"  [formControl]="providerForm.controls['numberOfFacebook']"
                            type=number [(ngModel)]="user.rating.numberOfFacebook">
                        </mat-form-field>
                    </div>
                    <div class="pb-1">
                        <mat-form-field class="full-width">
                            <input matInput name="googleRating" placeholder="Google Rating"  [formControl]="providerForm.controls['googleRating']"
                            type=number [(ngModel)]="user.rating.googleRating">
                        </mat-form-field>
                    </div>
                    <div class="pb-1">
                        <mat-form-field class="full-width">
                            <input matInput name="numberOfGoogle" placeholder="Number of google users"  [formControl]="providerForm.controls['numberOfGoogle']"
                            type=number [(ngModel)]="user.rating.numberOfGoogle">
                        </mat-form-field>
                    </div>

                    <!-- <div class="pb-1">
                        <mat-form-field class="full-width">
                            <input matInput name="twitter" placeholder="Twitter (http://example.com)"
                                [formControl]="providerForm.controls['twitter']" [(ngModel)]="user.twitter">
                        </mat-form-field>
                    </div> -->


                    <!-- <div class="pb-1">
                        <mat-form-field class="full-width">
                            <input matInput name="awards" placeholder="Awards" [formControl]="providerForm.controls['firstName']" [(ngModel)]="user.awards">
                        </mat-form-field>
                    </div> -->


                    <!-- <div class="pb-1">
                        <mat-form-field class="full-width">
                            <input matInput name="is_associate" placeholder="Is Associate" value="">
                        </mat-form-field>
                    </div> -->
                </div>
                <div fxFlex="100" fxFlex.gt-xs="50" class="pr-1">

                    <div class="pb-1">
                        <mat-form-field class="full-width">
                            <input matInput name="country" placeholder="County"
                                [formControl]="providerForm.controls['country']" [(ngModel)]="user.country">
                        </mat-form-field>
                    </div>
                    <div class="pb-1">
                        <mat-form-field class="full-width">
                            <input matInput name="city" placeholder="City" [formControl]="providerForm.controls['city']"
                                [(ngModel)]="user.city">
                        </mat-form-field>
                    </div>
                    <div class="pb-1">
                        <mat-form-field class="full-width">
                            <input matInput name="state" placeholder="State"
                                [formControl]="providerForm.controls['state']" [(ngModel)]="user.state">
                        </mat-form-field>
                    </div>

                    <div class="pb-1">
                        <mat-form-field class="full-width">
                            <mat-label>Active Status</mat-label>
                            <mat-select name="activeStatus" [formControl]="providerForm.controls['activeStatus']"
                                [(ngModel)]="user.activeStatus">
                                <mat-option value="Open">Open</mat-option>
                                <mat-option value="Expired">Expired</mat-option>
                                <mat-option value="Wrong County">Wrong County</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div class="pb-1">
                        <mat-form-field class="full-width">
                            <mat-label>Cycle</mat-label>

                            <input matInput name="cycle" placeholder="Cycle"  [formControl]="providerForm.controls['cycle']"
                             [(ngModel)]="user.cycle">
                        </mat-form-field>
                    </div>
                    <div class="pb-1">
                        <mat-form-field class="full-width">
                            <mat-label>phone Number</mat-label>

                            <input matInput name="phoneNumber" placeholder="Phone Number"  [formControl]="providerForm.controls['phoneNumber']"
                             [(ngModel)]="user.phoneNumber">
                        </mat-form-field>
                    </div>

                    <div class="pb-1">
                        <mat-form-field class="full-width">
                            <mat-label>Description</mat-label>
                            <textarea matInput #note maxlength="3000" placeholder="Type"
                                [formControl]="providerForm.controls['note']" [(ngModel)]="user.note"></textarea>
                            <mat-hint align="end">{{note.value?.length  || 0}} / 5000</mat-hint>

                        </mat-form-field>
                    </div>
                    <div class="pb-1">
                        <mat-form-field class="full-width">
                            <mat-label>Address</mat-label>
                            <textarea matInput #address maxlength="3000" placeholder="Type"
                                [formControl]="providerForm.controls['addressLine1']" [(ngModel)]="user.addressLine1"></textarea>
                            <mat-hint align="end">{{address.value?.length  || 0}} / 5000</mat-hint>

                        </mat-form-field>
                    </div>


                    <div class="pb-1">
                        <mat-form-field class="example-chip-list full-width">
                            <mat-label>Links</mat-label>
                            <mat-chip-list #chipList>
                                <mat-chip *ngFor="let chip of sourceUrls"
                                [removable]="removable"
                                (removed)="removeSourceUrl(chip)">{{ chip }}
                                    <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                                </mat-chip>
                                <input placeholder="Enter OR Paste Links"
                                  [matChipInputFor]="chipList"
                                  [matChipInputAddOnBlur]="true"
                                  [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                  (matChipInputTokenEnd)="addSourceUrl($event)"  (paste)="pasteSourceUrl($event)"/>
                              </mat-chip-list>
                            </mat-form-field>
                    </div>

                    <div class="pb-1">
                        <mat-form-field class="full-width">
                            <input matInput name="yelpRating" placeholder="Yelp Rating"  [formControl]="providerForm.controls['yelpRating']"
                            type=number [(ngModel)]="user.rating.yelpRating">
                        </mat-form-field>
                    </div>
                    <div class="pb-1">
                        <mat-form-field class="full-width">
                            <input matInput name="numberOfYelp" placeholder="Number of yelp users"  [formControl]="providerForm.controls['numberOfYelp']"
                            type=number [(ngModel)]="user.rating.numberOfYelp">
                        </mat-form-field>
                    </div>
                    <div class="pb-1">
                        <mat-form-field class="full-width">
                            <input matInput name="instagramFollowers" placeholder="Number of instagram followers"  [formControl]="providerForm.controls['instagramFollowers']"
                            type=number [(ngModel)]="user.rating.instagramFollowers">
                        </mat-form-field>
                    </div>

                </div>
            </div>
            <button mat-raised-button color="warn" (click)="back()">Back</button>
            <button style="align-items:flex-end;margin-left: 15px;" mat-raised-button color="primary"
                [disabled]="providerForm.invalid">Submit</button>
        </form>
    </mat-card-content>
</mat-card>