mat-card.p-0.mat-card.ng-trigger.ng-trigger-animate {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    }
    .ng-tns-c13-57.ng-trigger.ng-trigger-animate h2.ng-tns-c13-57 {
font-size: 25px;
font-weight: 400;
color: #4a4a4a;
}
.mat-border-size{
    // border-radius: 50%;
    cursor: pointer;
    min-height: 100% !important;

}
// mat-card.mat-border-size:hover{
//     box-shadow: 0 10px 20px rgba(15, 15, 24, 0.19), 0 6px 6px rgba(19, 8, 44, 0.23);
// }
.custom_row_p1 .text-center.pt-1.pb-1.border-right-light.ng-tns-c7-1 {
    box-shadow: 0 0px 20px rgba(15, 15, 24, 0.010), 0 5px 6px rgba(19, 8, 44, 0.2);
    border-radius: 20px;
    display: flex;
    height: 90px;
    justify-content: center;
    align-items: center;
} 

.N_box1 h4.m-0 {
    color: #777CEA;
    font-size: 30px;
    font-weight: 600;
}
.N_box2 h4.m-0 {
    color: #53B2E8;
    font-size: 30px;
    font-weight: 600;
}
.N_box3 h4.m-0 {
    color: #F99964;
    font-size: 30px;
    font-weight: 600;
}
.N_box4 h4.m-0 {
    color: #FFC658;
    font-size: 30px;
    font-weight: 600;
}
.N_box5 h4.m-0 {
    color: #FA627D;
    font-size: 30px;
    font-weight: 600;
}
.N_box1 {
    padding: 20px;
}.N_box2 {
    padding: 20px;
}.N_box3 {
    padding: 12px;
}.N_box4 {
    padding: 20px;
}
mat-card.mat-border-size.m-1.N_myclass.mat-card {
    padding: 2px;
}
mat-card.p-0.Main_row1.mat-card.ng-trigger.ng-trigger-animate {
    box-shadow: none;
    margin-top: 30px;
}
.N_section2 {
    box-shadow: 0 0px 20px rgba(15, 15, 24, 0.010), 0 5px 6px rgba(19, 8, 44, 0.2);
    border-radius: 20px;
    margin-top: 20px;
    padding-top: 20px;
    padding-left: 20px; 
    padding-bottom: 20px;
}
.N_section2 .categories {
    font-size: 12px;
}
.N_section2 .col-3 .categories span.ng-tns-c7-1 img.ng-tns-c7-1 {
    padding: 8px;
    margin-left: 20px;
}
.N_section2 .col-6 .three_buttons .btn.btn_active {
    color: #53B2E8;
    font-size: 12px;
    border: 1px solid;
}
.N_section2 .col-6 .three_buttons .btn {
    font-size: 12px;
    border: 1px solid #F2F2F2;
    margin-left: 10px;
    margin-right: 10px;
}
.N_section2 .col-6 .three_buttons {
    float: right;
    margin-right: 10px;
}
.N_section2 {
    display: block!important;
    padding: 40px;
}
.section_4.ng-tns-c7-1 {
    padding-top: 20px;
    padding-bottom: 20px;
}
.section_4.ng-tns-c7-1 .col-3 {
    box-shadow: 0 0px 20px rgba(15, 15, 24, 0.010), 0 5px 6px rgba(19, 8, 44, 0.2);
    border-radius: 20px;
    margin: 10px;
    max-width: 22%;
}
.section_4.ng-tns-c7-1 .graph_box .small_heading {
    font-size: 8px;
}
.section_4.ng-tns-c7-1 .graph_box .big_heading {
    font-size: 16px;
    margin-bottom: 10px;
}
.section_5.ng-tns-c7-1 .heading {
    font-size: 18px;
}
.section_5.ng-tns-c7-1 .row.N_row span.ng-tns-c7-1 {
    margin-right: 10px;
    margin-left: 10px;
    font-size: 12px;
}
.section_5.ng-tns-c7-1 .row.N_row {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
.section_5.ng-tns-c7-1 .row.N_row span.ng-tns-c7-1 img.ng-tns-c7-1 {
    padding: 10px;
}
.section_5.ng-tns-c7-1 .row .col-3 {
    text-align: center;
}
.section_5.ng-tns-c7-1 .row .col-3 .graph_box .small_heading {
    font-size: 8px;
} 

.categories span{
    display: flex;
    align-items: center;
}
.program_leble{
        width: 25px;
        color: #9fa2b7;
        border: 1px solid;
        border-radius: 6px;
        margin-right: 7px;
        height: 25px;
        background-color: #9fa2b7;
    }

    .provider_leble{
        width: 25px;
        color: #10174c;
        border: 1px solid;
        border-radius: 6px;
        margin-right: 7px;
        height: 25px;
        background-color: #10174c;
    }