.counts{
    // display: inline-block;
}
.counts h4 {
    display: contents;
    color: #53B2E8;

}
.counts span {
    color: #53B2E8;
    font-weight: 800;
    font-size: 20px;
}


.letsplay_btn {
    background-color: #53B2E8;
    color: white;
    border: none;
    border-radius: 23px;
    padding: 0px 15px 0px 15px;
    margin-bottom: 17px;
    line-height: 31px;
}

.col-greys {
    color: #4F4F4F;
    margin-top: 15px;
    margin-bottom: 15px;
}

.filter-icon {
    color: #BDBDBD;
    font-size: 25px;
    margin-left: 36px;
    margin-right: 23px;
}

.scroll {
    overflow: scroll;
}

.forum-table td {
    vertical-align: middle;
    text-align: center;
    color: #4F4F4F;
    word-break: break-word;
}

.forum-table th {
    text-align: center;
    color: #4F4F4F;
    vertical-align: middle;
}

.search-section{
    background-color: white;
    padding: 11px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 40px;
    max-width: 665px;
}

.back-search {
    // background-color: #53B2E8;
    padding: 0;
    // border-radius: 26px;
    color: white;
}

.myclass:hover {
    display: none;
}

.search_input {
    margin-bottom: 0 !important;
    border: none;
    width: 75%;
    background-color: #EFEFEF;
    border-radius: 18px;
    padding: 7px;
}

.search-section .back-search .mat-icon {
    background-color: #53B2E8;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    text-align: center;
    line-height: 45px;
}

.search_input:focus {
    outline: none;
}

.search_input::placeholder {
    font-size: 13px;
    color: #748494;
}

.over {
    height: 73px !important;
    border: 1px dotted black;
    float: right;
    min-width: 69px;
    border: none;
    border-top: 1px solid #dee2e6;
    // overflow-y: scroll;
    width: 100%;
}

button:focus {
    outline: none;
    box-shadow: none;
}

.tags_list {
    list-style-type: none;
    color: #FA627D;
    border: 1px solid #FA627D;
    border-radius: 20px;
    text-align: center;
    padding-left: 0px;
    display: inline-block;
    padding: 2px 10px 2px 10px;
    margin-left: 12px;
}

.tags_list:hover {
    cursor: pointer;
}

// start modal css
.form_outer {
    margin-top: 23px;
    display: inline-block;
    width: 100%;
}

.new_topic .modal-dialog {
    max-width: 590px;
}

.new_topic .modal-content {
    background: #FFFFFF;
    border-radius: 20px;
}

.new_topic .modal-content button.close {
    position: absolute;
    right: 20px;
    top: 15px;
    z-index: 1;
    color: #C5CED6;
    opacity: 1;
    transition: 0.8s;
}

.new_topic .modal-content button.close:hover {
    color: #494949;
}

.new_topic .modal-content .modal-body {
    padding: 60px 44px 20px;
}

.new_topic .modal-content .modal-body h2 {
    font-size: 20px;
    line-height: 18px;
    color: #494949;
    text-align: center;
    width: 100%;
    display: inline-block;
}

.new_topic .modal-content .modal-body label {
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: #494949;
}

.new_topic .modal-content .modal-body .form-control {
    border: 1px solid #E5E9EC;
    border-radius: 0;
    min-height: 52px;
    resize: none;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.01em;
    color: #494949;
}

.new_topic .modal-content .modal-body .form-control:focus {
    outline: none;
    border-color: #fc9292;
    box-shadow: none;
}

.new_topic .modal-content .modal-body .form-control::placeholder {
    color: #C5CED6;
}

.new_topic .modal-content .modal-body .form-control:-moz-placeholder {
    color: #C5CED6;
}

.new_topic .modal-content .modal-body .form-control::-webkit-input-placeholder {
    color: #C5CED6;
}

.new_topic .modal-content .form-group.length {
    position: relative;
}

.new_topic .modal-content .form-group .text_length {
    position: absolute;
    bottom: 11px;
    right: 17px;
    font-size: 14px;
    line-height: 21px;
    color: #C5CED6;
}

.new_topic .modal-content .form-group .text_length p {
    margin: 0;
}

.new_topic .form-group.submit {
    text-align: center;
}

.new_topic .form-group .tag_outer {
    border: 1px solid #E5E9EC;
    padding: 11px;
}

.new_topic .form-group .tag_outer p {
    display: inline-block;
    background: #53B2E8;
    border-radius: 40px;
    color: #fff;
    min-width: 106px;
    padding: 0 7px;
    text-align: center;
    font-size: 12px;
    margin: 0 9px 0 0;
    min-height: 30px;
    line-height: 30px;
}

.new_topic .form-group .tag_outer p mat-icon {
    font-size: 18px;
    vertical-align: middle;
    height: auto;
    width: auto;
    color: #fff;
    margin: 0 0 0 5px;
}

.new_topic .modal-content .form-group .submit_btn {
    box-shadow: none;
    outline: none;
    min-width: 120px;
    min-height: 40px;
    line-height: 40px;
    background: #53B2E8;
    border-radius: 50px;
    font-weight: 600;
    font-size: 16px;
    color: #FFFFFF;
    border: none;
    margin-top: 18px;
}


/* check box css */

.ch-radio {
    display: inline-block;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    margin: 0 31px 0 0;
}

.ch-radio * {
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
}

.ch-radio input[type="checkbox"],
.ch-radio input[type="radio"] {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.ch-radio input[type="checkbox"]:checked+span:before,
.ch-radio input[type="checkbox"]:checked~span:before,
.ch-radio input[type="radio"]:checked+span:before,
.ch-radio input[type="radio"]:checked~span:before {
    border-color: #53B2E8;
    background-color: #53B2E8;
}

.ch-radio input[type="checkbox"]:checked+span .ch-icon,
.ch-radio input[type="checkbox"]:checked~span .ch-icon,
.ch-radio input[type="radio"]:checked+span .ch-icon,
.ch-radio input[type="radio"]:checked~span .ch-icon {
    opacity: 1;
}

.ch-radio span {
    display: block;
    overflow: hidden;
    line-height: 15px;
    position: relative;
    padding-left: 22px;
    font-size: 12px;
    font-weight: normal;
    color: #494949;
}

.ch-radio span:before {
    content: "";
    background-color: transparent;
    position: absolute;
    top: 1px;
    left: 1px;
    width: 14px;
    height: 14px;
    transition: inherit;
    border: 1px solid #53B2E8;
    border-radius: 0;
}

.ch-radio span .ch-icon {
    color: #FFFFFF;
    position: absolute;
    top: 0;
    left: 3px;
    font-size: 10px;
    opacity: 0;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    line-height: 17px;
}

.check_list {
    margin-top: 23px;
}

.check_list .ch-radio {
    display: inline-block;
    margin-right: 44px;
}
.col-blue{
    color: #53B2E8 !important;
}
