<div class="container table-header-info mb-30">
    <div class="row">
    

    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="search-results table-body-info">
                <table>
                    <tbody>
                        <tr>
                            <th class="left">
                             Name
                            </th>
                            <th>
                              Searched On
                             </th>
                            <th>
                            </th>
                        </tr>
                        <tr *ngFor="let row of data; let i = index">
                            <td class="left">
                                <span> {{row.text}}</span>
                            </td>
                            <td>
                              <span>{{row.createdOn | date :'MMM d, y, h:mm a'}}</span>
                          </td>
                            <td>
                                <button mat-icon-button [matMenuTriggerFor]="msgMenu" class="hidden-on-open">
                                    <mat-icon class="text-muted">more_vert</mat-icon>
                                </button>
                                <mat-menu #msgMenu="matMenu">

                                    <button mat-menu-item (click)="deleteKeyword(row._id,i)">
                                        <i class="icon col-blue mat-icon fa fa-trash-o" aria-hidden="true"></i>Delete
                                    </button>

                                </mat-menu>

                            </td>

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!-- <div class="col-12">
      <div class="pagination-table-info">
        <div class="pagination-page-no">
          <div class="pagination-h3">
            <h3>Page <span class="bold">1</span> of <span class="bold">16</span></h3>
          </div>
          <div class="pagination-left-right-btn">
            <div class="pagination-left-btn"><img src="assets/images/pagination-left-arrow.svg" /></div>
            <div class="pagination-right-btn"><img src="assets/images/pagination-right-arrow.svg" /></div>
          </div>
        </div>
        <div class="pagination-rpp-info">
          <div class="rrp-h3"><h3>Rows per page:</h3></div>
          <div class="rrp-select-info">
            <select class="rrp-select-no">
              <option value="20">20</option>
              <option value="30">30</option>
              <option value="40">40</option>
              <option value="50">50</option>
            </select>
          </div>
        </div>
      </div>
    </div> -->
    </div>
</div>