<!-- <div *ngIf="!isTable"> -->
  <div class="title_heading">
  <h2 class="title addform" [hidden]="editData">
    Add Keyword
  </h2>
  <h2 class="title addform" [hidden]="!editData">
    Update Keyword
  </h2>
  <span (click)="dialogRef.close()"> <mat-icon>close</mat-icon></span>
</div>
  <div class="container addform">
  <div class="row pt-3 pb-3">
    <div class="col-6">
      <form [formGroup]="editKeyword" >

        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Name</mat-label>
          <input type="text" matInput [formControl]="editKeyword.controls['keywordName']" [(ngModel)]="keywordForm.keywordName" placeholder="keyword name">
          <mat-error *ngIf="editKeyword.controls.keywordName?.errors?.required" required>
           Keyword Name is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </form>
    </div>
  
    <div class="col-6">
      <form [formGroup]="editKeyword">
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Keyword Type</mat-label>
          <mat-select name="keywordType" [formControl]="editKeyword.controls['keywordType']"
              [(ngModel)]="keywordForm.keywordType">
              <!-- <mat-option value="Open">Category/Sub Category</mat-option> -->
              <mat-option value="category" >Category</mat-option>
              <mat-option value="subCategory">Sub Category</mat-option>
              <mat-option value="age">Age</mat-option>
              <mat-option value="dates">Dates</mat-option>
              <mat-option value="time">Time</mat-option>
              <mat-option value="days">Days</mat-option>
              <mat-option value="price">Price</mat-option>
              <mat-option value="type">Type</mat-option>
              <mat-option value="format">Format</mat-option>
              <mat-option value="topRated">Top Rated</mat-option>
          </mat-select>
          <mat-error *ngIf="editKeyword.controls.keywordType?.errors?.required" required>
            Keyword Type is <strong>required</strong>
           </mat-error>
        </mat-form-field>
      </form> 
    </div>
  </div>
  <hr>
                           <!-- filter options -->
<div *ngIf="keywordForm.keywordType=='days'">
  <mat-form-field class="full-width">
    <mat-label>Days</mat-label>
    <mat-select name="dayss"  [(ngModel)]="daysValue"
       multiple>
        <mat-option [value]="'sunday'">Sunday</mat-option>
        <mat-option [value]="'monday'">Monday</mat-option>
        <mat-option [value]="'tuesday'">Tuesday</mat-option>
        <mat-option [value]="'wednesday'">Wednesday</mat-option>
        <mat-option [value]="'thursday'">Thursday</mat-option>
        <mat-option [value]="'friday'">Friday</mat-option>
        <mat-option [value]="'saturday'">Saturday</mat-option>
    </mat-select>
</mat-form-field>
</div>

<div *ngIf="keywordForm.keywordType=='time'">
  <mat-form-field class="full-width">
    <mat-label>Time</mat-label>
    <mat-select name="dayss"  [(ngModel)]="timeValue"
       multiple>
        <mat-option [value]="'early-morning'">Early-Morning (6AM-9AM)</mat-option>
        <mat-option [value]="'morning'">Morning (9AM-12PM)</mat-option>
        <mat-option [value]="'afternoon'">Afternoon (12PM-3PM)</mat-option>
        <mat-option [value]="'late-afternoon'">Late-Afternoon (3PM-6PM)</mat-option>
        <mat-option [value]="'evening'">Evening (6PM-9PM)</mat-option>
    </mat-select>
</mat-form-field>
</div>

<div *ngIf="keywordForm.keywordType=='type'">
  <mat-form-field class="full-width">
    <mat-label>Type</mat-label>
    <mat-select name="dayss"  [(ngModel)]="typeValue"
       multiple>
        <mat-option [value]="'  Camps'">Camps</mat-option>
        <mat-option [value]="'Semesters'">Semesters</mat-option>
        <mat-option [value]="'Drops-in'">Drop ins</mat-option>
        <mat-option [value]="'Other'">Other</mat-option>
    </mat-select>
</mat-form-field>
</div>

<div *ngIf="keywordForm.keywordType=='format'">
  <mat-form-field class="full-width">
    <mat-label>Format</mat-label>
    <mat-select name="dayss"  [(ngModel)]="formatValue"
       >
        <mat-option [value]="'inperson'">In-person</mat-option>
        <mat-option [value]="'online'">Online</mat-option>
    </mat-select>
</mat-form-field>
</div>

<div class="row" *ngIf="keywordForm.keywordType=='dates'">
  <div class="col-6">
    <mat-form-field>
      <input matInput [matDatepicker]="startpicker" [(ngModel)]="dateFrom" placeholder="Start Date">
      <mat-datepicker-toggle matSuffix [for]="startpicker"></mat-datepicker-toggle>
      <mat-datepicker #startpicker></mat-datepicker>
    </mat-form-field>
  </div>

  <div class="col-6">
    <mat-form-field>
      <input matInput [matDatepicker]="endpicker" [(ngModel)]="dateTo" placeholder="End Date">
      <mat-datepicker-toggle matSuffix [for]="endpicker"></mat-datepicker-toggle>
      <mat-datepicker #endpicker></mat-datepicker>
    </mat-form-field>
  </div>
</div>

<div class="full-width" *ngIf="keywordForm.keywordType=='age'">
  <mat-label style="color: rgb(118, 118, 118);">AGE GROUP</mat-label>
  <!-- <mat-slider thumbLabel="true" min="1" max="5" step="1" value="3"></mat-slider>
  <textarea matInput hidden></textarea> -->
  <ng5-slider [(value)]="minAge" [(highValue)]="maxAge" [options]="ageOption">
  </ng5-slider>
</div>

<div class="full-width" *ngIf="keywordForm.keywordType=='price'">
  <mat-label style="color: rgb(118, 118, 118);">Price</mat-label>
  <!-- <mat-slider thumbLabel="true" min="1" max="5" step="1" value="3"></mat-slider>
  <textarea matInput hidden></textarea> -->
  <ng5-slider [(value)]="minPrice" [(highValue)]="maxPrice" [options]="priceOption">
  </ng5-slider>
</div>

<div class="full-width" *ngIf="keywordForm.keywordType=='topRated'">
  <mat-label style="color: rgb(118, 118, 118);">Rating</mat-label>
  <!-- <mat-slider thumbLabel="true" min="1" max="5" step="1" value="3"></mat-slider>
  <textarea matInput hidden></textarea> -->
  <ng5-slider [(value)]="minRating" [(highValue)]="maxRating" [options]="ratingOption">
  </ng5-slider>
</div>
<div class="full-width" *ngIf="keywordForm.keywordType=='category' || keywordForm.keywordType=='subCategory' ">

 
 <section class="example-section">
   
    <div class="row">
            <!-- categories -->
      <div class="col-3">
        <span class="example-list-section">
          
          <ul>
            <label>Categories</label>
            <li *ngFor="let category of categories;let i = index">
              <mat-checkbox [checked]="selectedCategoryIndx === i"
                            (change)="selectedCategoryIndx = i;getTag($event,category)">
                {{category.name}}
              </mat-checkbox>
            </li>
          </ul>
        </span>
      </div>
      <!-- sucategories -->
      <div class="col-7">
        <span class="example-list-section" *ngIf="subcategories?.length">
          
          <ul class="ul-tag-col-6">
            <label>Sub-categories</label>
            <li *ngFor="let tag of subcategories;let i = index">
              <mat-checkbox [checked]="tag.checked"
                            (change)="pushCategory($event,i)">
                {{tag.name}}
              </mat-checkbox>
            </li>
          </ul>
        </span>
      </div>
       </div> 
 
  </section>

  
</div>
  <div class="col-12 button-form pb-3">
    <button type="submit" mat-raised-button [disabled]="!editKeyword.valid" (click)="onSubmit()">Submit</button>
  </div>
  </div>
  
 