<div class="container">
    <br>
    <div class="row">
        <div class="col-12">
            <div class="search-section">
                <input type="text" class="search_input" placeholder="Search By Ambassador Name"
                    [(ngModel)]="searchText" />
                <i class="fa fa-filter filter-icon " aria-hidden="true" *ngIf="searchText"></i>
                <i aria-hidden="true" *ngIf="!searchText"></i>

                <span class="back-search">
                    <mat-icon>search</mat-icon>
                </span>
            </div>

            <h4 class="col-greys">Ambassadors List</h4>
            <!-- <button class="letsplay_btn" mat-button routerLink="/dashboard/addForum">+ ADD NEW</button> -->
            <!-- <button class="letsplay_btn" >+ ADD NEW</button> -->
        </div>

    </div>
    <table class="table forum-table">
        <tbody>
            <tr>
                <th> Name</th>
                <th>
                    Email
                </th>
                <th>
                    Last Visit
                </th>
                <th>Balance</th>

                <th>
                </th>

            </tr>
            <tr *ngFor="let ambassdr of ambassadorsList | filter : searchText">
                <td>
                    <span (click)="openPopUp(ambassdr)"> {{ambassdr.firstName}}</span>
                </td>
                <td>
                    <span (click)="openPopUp(ambassdr)"> {{ambassdr.email}}</span>
                </td>
                <td>
                    <span (click)="openPopUp(ambassdr)"> {{ambassdr.updatedOn | date}}</span>
                </td>
                <td [ngClass]="{
                    'positive ' : ambassdr.totalPoints > 0,
                    'negative' : ambassdr.totalPoints < 0
                 }">
                    <span (click)="openPopUp(ambassdr)"> {{ambassdr.totalPoints}}</span>
                </td>
                <td>
                    <mat-icon [matMenuTriggerFor]="menu" class="menubutton tags_list">more_vert</mat-icon>
                    <mat-menu #menu="matMenu" yPosition="below">
                        <button mat-menu-item (click)="viewPoints(ambassdr)">
                            <mat-icon class="col-blue material-icons-outlined icon-image-preview">create</mat-icon>Edit
                            Points
                        </button>
                        <button mat-menu-item (click)="addRemoveAmbassador(ambassdr)">
                            <!-- <mat-icon class="col-blue">delete</mat-icon> -->
                            <i class="icon col-blue mat-icon fa fa-trash-o" aria-hidden="true"></i>Delete
                        </button>
                        <!-- <button mat-menu-item (click)="adjustpoints()">
                            <mat-icon>history</mat-icon>View Activity List
                        </button> -->
                    </mat-menu>
                </td>
            </tr>
        </tbody>
    </table>

</div>