<!-- <h3 class="mt-0"><b>Filter and Search Table</b></h3> -->
<div class="container table-header-info mb-30">
  <div class="row">
    <!-- <div class="col-2">
    <mat-form-field appearance="fill">
      <mat-label>Select Filter</mat-label>
      <mat-select name="defaultFilter"  [(ngModel)]="defaultFilter">
        <mat-option  *ngFor="let item of filterColumns" (click)="selectedFilter(item)" [value]="item">
          {{item}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div> -->
    <div class="col-6 tablesuser-flex">
      <h4>Total Providers<span class="blue-clr">({{total}})</span></h4>
      <!-- <div class="add-program-btn">
        <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
          <mat-button-toggle matTooltip2="Add" (click)="add()" value="add">
            <mat-icon class="text-success">+ Add Provider</mat-icon>
          </mat-button-toggle>
        </mat-button-toggle-group>
      </div> -->
      <div class="add-program-btn">
        <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
          <mat-button-toggle matTooltip2="Add" (click)="newForm()">
            <mat-icon class="text-success">+ Add New</mat-icon>
          </mat-button-toggle>
        </mat-button-toggle-group>
      </div>
    </div>
    <div class="col-6">
      <div class="search-form-info" [hidden]="activeTab=='pcount'">
        <mat-form-field class="w-85" appearance="standard"
          [hidden]="selectedValue=='montclair' || selectedValue=='byDate'">
          <!-- <mat-label>Search</mat-label> -->
          <input matInput (keyup)="applyFilter($event)" placeholder="Search" #input>
          <button mat-icon-button matSuffix value="search" matTooltip="Search">
            <mat-icon class="text-primary">search</mat-icon>
          </button>
        </mat-form-field>

        <mat-form-field class="w-85" appearance="standard" [hidden]="selectedValue!=='byDate'">
          <mat-label>Selcet Date</mat-label>
          <input matInput #input [owlDateTimeTrigger]="dt1" [owlDateTime]="dt1" readonly [(ngModel)]="searchDate">
          <owl-date-time [pickerType]="'calendar'" #dt1></owl-date-time>
          <button mat-icon-button matSuffix value="search" (click)="getProviderByDate()" matTooltip="Search">
            <mat-icon class="text-primary">search</mat-icon>
          </button>
        </mat-form-field>

        <!-- <button mat-raised-button value="reset" class="m-2" (click)="reset()" matTooltip="Reset">
        <mat-icon>autorenew</mat-icon>  Reset
      </button> -->
      </div>
    </div>
  </div>
</div>

<div class="container usertable table-body-info">

  <div class="row">
    <div class="col-6">
      <ul class="table-top-links">
        <li [ngClass]="{'active': activeTab === ''}"><a (click)="activeProgramsTab('')"> All Providers <span
              *ngIf=" activeTab === ''">({{temp?.message}})</span></a></li>
        <li [ngClass]="{'active': activeTab === 'montclair'}"><a (click)="activeProgramsTab('montclair')"> Montclair
            <span *ngIf=" activeTab === 'montclair'">({{temp?.total}})</span></a></li>
        <li [ngClass]="{'active': activeTab === 'pcount'}"><a (click)="activeProgramsTab('pcount')"> Program Count
          </a></li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="example-container mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort>
          <ng-container matColumnDef="select" sticky>
            <th mat-header-cell class="w-25" *matHeaderCellDef>
              <mat-checkbox (change)="$event" [checked]="selection.hasValue()" [indeterminate]="selection.hasValue()">
              </mat-checkbox>
              <mat-label class="checkbox-label">All</mat-label>
            </th>
            <td mat-cell class="w-25" *matCellDef="let row">
              <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                [checked]="selection.isSelected(row)">
              </mat-checkbox>
            </td>
          </ng-container>

          <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Email </th>
            <td mat-cell *matCellDef="let row" (click)="openPopUp(row)"> {{row.email}} </td>
          </ng-container>

          <ng-container matColumnDef="firstName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Provider Name </th>
            <td mat-cell *matCellDef="let row" (click)="openPopUp(row)"> {{row.firstName}} </td>
          </ng-container>

          <ng-container matColumnDef="providerName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Provider Name </th>
            <td mat-cell *matCellDef="let row" (click)="openPopUp(row)"> {{row.providerName}} </td>
          </ng-container>

          <ng-container matColumnDef="programCount">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Program Count </th>
            <td mat-cell *matCellDef="let row" (click)="openPopUp(row)"> {{row.programCount}} </td>
          </ng-container>

          <ng-container matColumnDef="addressLine1">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Address </th>
            <td mat-cell *matCellDef="let row" (click)="openPopUp(row)">
              {{row.addressLine1}}
            </td>
          </ng-container>

          <ng-container matColumnDef="phoneNumber">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Phone Number </th>
            <td mat-cell *matCellDef="let row" (click)="openPopUp(row)">
              {{row.phoneNumber}}
            </td>
          </ng-container>
          <ng-container matColumnDef="activePrograms">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Active Programs </th>
            <td mat-cell *matCellDef="let row" (click)="openPopUp(row)">
              {{row.activePrograms}}
            </td>
          </ng-container>

          <ng-container matColumnDef="expiredPrograms">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Expired Programs </th>
            <td mat-cell *matCellDef="let row" (click)="openPopUp(row)">
              {{row.expiredPrograms}}
            </td>
          </ng-container>

          <ng-container matColumnDef="updatedOn">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Updated On </th>
            <td mat-cell *matCellDef="let row" (click)="openPopUp(row)">
              {{row.updatedOn |  date :'MMM d, y'}}
            </td>
          </ng-container>

          <ng-container matColumnDef="isActivated">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Active Status </th>
            <td class="center" mat-cell *matCellDef="let row">
              <mat-slide-toggle [checked]="row?.isActivated" color="primary" (change)="activateDeactivate($event,row)">
              </mat-slide-toggle>
            </td>
          </ng-container>

          <ng-container matColumnDef="freeTrial">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Free Trial </th>
            <td class="center" mat-cell *matCellDef="let row">
              <mat-slide-toggle [checked]="row?.isFreeTrial" color="primary" (change)="trueFalseFreeTrial($event,row)">
              </mat-slide-toggle>

            </td>
          </ng-container>
          <ng-container matColumnDef="star" stickyEnd>
            <th mat-header-cell class="w-25" *matHeaderCellDef>Action</th>
            <td mat-cell class="w-25" *matCellDef="let row" [hidden]="activeTab=='pcount'">
              <button mat-icon-button [matMenuTriggerFor]="action">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #action="matMenu">
                <button mat-menu-item (click)="copyLink(row.userName)">
                  <mat-icon class="col-blue">file_copy</mat-icon>Copy Url
                </button>
                <button mat-menu-item (click)="manage(row)">
                  <mat-icon class="col-blue">list</mat-icon>Manage
                </button>
                <button mat-menu-item (click)="newForm(row)">
                  <mat-icon class="col-blue">edit</mat-icon>Edit
                </button>
                <!-- <button mat-menu-item (click)="edit(row)">
                  <mat-icon class="col-blue">edit</mat-icon>Edit
                </button> -->
                <button mat-menu-item (click)="deleteProvider(row)">
                  <mat-icon class="col-blue">delete</mat-icon>Delete
                </button>
              </mat-menu>
            </td>

          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;">
          </tr>
        </table>

      </div>
    </div>
    <div class="col-12">
      <mat-paginator [length]="pageLength" [pageSize]="this.pageSize" [pageSizeOptions]="[5, 10, 25, 100]"
        [showFirstLastButtons]="true" (page)="pageChanged($event)" aria-label="Select page">
      </mat-paginator>
    </div>
  </div>
</div>