<div class="container duplicacy_form text-center spacing-search">

  <form class="example-form" [formGroup]="duplicacyForm">
    <div class="row ">

      <div class="col-1"></div>
      <div class="col-3">
        <mat-form-field class="example-full-width">
          <mat-label>Find by Email</mat-label>
          <input matInput placeholder="Email here.." formControlName="email">
        </mat-form-field>
      </div>
      <div class="col-3">
        <mat-form-field class="example-full-width">
          <mat-label>Find by Name</mat-label>
          <input matInput placeholder="Name here.." formControlName="name">
        </mat-form-field>
      </div>
      <div class="col-3">
        <mat-form-field class="example-full-width">
          <mat-label>Find by PhoneNumber</mat-label>
          <input matInput placeholder="PhoneNumber here.." formControlName="phoneNumber">
        </mat-form-field>
      </div>
      <div class="col-1"></div>
    </div>
    <div class="row">
      <div class="col-6 text-right">
        <input type="button" class="btn-color pointer" (click)='onSubmits()' value="Find By">

      </div>
      <div class="col-6 text-right">
        <input type="button" class="btn-color pointer" (click)='resets()' value="Reset">

      </div>

    </div>

  </form>
</div>
<div class="container">
  <table class="table">
    <tr *ngIf="duplicacy.length">
      <th>FirstName</th>
      <th>Email</th>
      <th>Role</th>
      <th>Added On</th>
      <th>Actions</th>
    </tr>
    <tr *ngFor="let duplicate of duplicacy ; let indx=index;" class="select">
      <td>
        <input type="text" class="form-control" [(ngModel)]="duplicate.firstName">
      </td>
      <td>
        <input type="text" class="form-control" readonly [(ngModel)]="duplicate.email">

      </td>
      <td>
        <input type="text" class="form-control" [(ngModel)]="duplicate.role">
      </td>
      <td>
        {{duplicate.updatedOn | date}}
      </td>
      <td>
        <!-- <input type="checkbox" id="myCheck"  (click)=selectTwo($event,duplicate) > -->
        <mat-slide-toggle color="primary" (change)="selectTwo($event,duplicate)">
        </mat-slide-toggle>
        <!-- <input type="button" value="keep record" class="select pointer" id="subscribeNews{{indx}}"
        (click)="saveRecord(duplicate )"> -->
      </td>
    </tr>
    <div class="text-center data-not">
      <p *ngIf="!duplicacy.length">No data</p>
    </div>
  </table>
</div>