<div class="container">
    <br>
    <div class="row">
        <div class="col-12">


            <div class="search-section">
                <input type="text" class="search_input" placeholder="Search By Alert's Name" [(ngModel)]="searchText" />
                <i class="fa fa-filter filter-icon" aria-hidden="true" *ngIf="searchText"></i>
                <span class="back-search">
                    <mat-icon>search</mat-icon>
                </span>
            </div>

            <div class="row">
                <div class="col-6">
                    <h4 class="col-greys">Alert's List</h4>
                </div>
                <div class="col-6 text-right add_buttons">
                    <button class="letsplay_btn" data-toggle="modal" data-target="#ambassadorLists">+ ADD NEW
                        ALERT</button>
                </div>
            </div>
        </div>

    </div>
    <table class="table forum-table">
        <tbody>
            <tr>
                <th>
                    Recipients
                </th>
                <th>
                    Message
                </th>
                <th>
                    Types
                </th>
                <th>
                    Start Date

                </th>

                <th>
                    End Date

                </th>

                <th>
                </th>

            </tr>
            <tr *ngFor="let alert of AlertsList | filter : searchText">
                <td>
                    <!-- <span (click)="openPopUp(row)">{{row._id}}</span> -->

                    <span (click)="openPopUp(alert)">{{alert.alertFor}}</span> <span
                        (click)="openPopUp(alert)">{{alert.email}}</span>

                </td>
                <td>
                    <span (click)="openPopUp(alert)">{{alert.msg}}</span>
                </td>
                <td>
                    <span (click)="openPopUp(alert)">{{alert.msgType}}</span>
                </td>

                <td>
                    <span (click)="openPopUp(alert)">{{alert.fromDate | date}}</span>

                </td>
                <td>
                    <span (click)="openPopUp(alert)">{{alert.toDate | date}}</span>
                </td>
                <td>
                    <mat-icon [matMenuTriggerFor]="menu" class="menubutton tags_list">more_vert</mat-icon>
                    <mat-menu #menu="matMenu" yPosition="below">
                        <button mat-menu-item (click)=" delete(alert)">
                            <i aria-hidden="true" class="icon col-blue mat-icon fa fa-trash-o"></i>delete
                        </button>
                    </mat-menu>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<!-- Modal -->
<div class="modal fade new_topic" id="ambassadorLists" data-backdrop="static" data-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <mat-icon class="material-icons icon-image-preview">cancel</mat-icon>
            </button>
            <div class="modal-body">
                <h2>Add New Alert</h2>
                <div class="form_outer">
                    <form [formGroup]="alertForm" autocomplete="off">
                        <div class="form-group">
                            <label>Add for</label>
                            <div class="checkbox_outer">
                                <label class="ch-radio">
                                    <input name="hiring" type="radio" (click)="addAlertFor('all')">
                                    <span>
                                        <i class="ch-icon material-icons icon-image-preview">done</i>All
                                    </span>
                                </label>
                                <label class="ch-radio">
                                    <input name="hiring" type="radio" (click)="addAlertFor('parent')">
                                    <span>
                                        <i class="ch-icon material-icons icon-image-preview">done</i>
                                        Parents
                                    </span>
                                </label>
                                <label class="ch-radio">
                                    <input name="hiring" type="radio" (click)="addAlertFor('provider')">
                                    <span>
                                        <i class="ch-icon material-icons icon-image-preview">done</i>Providers
                                    </span>
                                </label>
                                <label class="ch-radio">
                                    <input name="hiring" type="radio" (click)="addAlertFor($event)">
                                    <span>
                                        <i class="ch-icon material-icons icon-image-preview">done</i>
                                        Email
                                    </span>
                                </label>
                            </div>
                        </div>
                        <div class="form-group" *ngIf="isEmail">
                            <label>Email</label>
                            <input type="text" class="form-control" formControlName="email" placeholder="Type">
                        </div>
                        <div class="form-group">
                            <label>Message Type</label>
                            <div class="checkbox_outer">
                                <label class="ch-radio">
                                    <input name="hiringss" type="radio" (click)="addMsgType('information')">
                                    <span>
                                        <i class="ch-icon material-icons icon-image-preview">done</i> InFormation
                                    </span>
                                </label>
                                <label class="ch-radio">
                                    <input name="hiringss" type="radio" (click)="addMsgType('warning')">
                                    <span>
                                        <i class="ch-icon material-icons icon-image-preview">done</i>
                                        Warning
                                    </span>
                                </label>
                                <label class="ch-radio">
                                    <input name="hiringss" type="radio" (click)="addMsgType('notice')">
                                    <span>
                                        <i class="ch-icon material-icons icon-image-preview">done</i>
                                        Notice
                                    </span>
                                </label>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <p>
                                    <mat-form-field>
                                        <mat-label>Start Date</mat-label>
                                        <input matInput [matDatepicker]="pickers" formControlName="fromDate" readonly>
                                        <mat-datepicker-toggle matSuffix [for]="pickers"></mat-datepicker-toggle>
                                        <mat-datepicker #pickers>
                                            <i class="material-icons">arrow downward</i>
                                        </mat-datepicker>
                                    </mat-form-field>
                                </p>
                            </div>

                            <div class="col-6">
                                <p>
                                    <mat-form-field>
                                        <mat-label>End Date</mat-label>
                                        <input matInput [matDatepicker]="picker" formControlName="toDate" readonly>
                                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                        <mat-datepicker #picker></mat-datepicker>
                                    </mat-form-field>
                                </p>
                            </div>
                        </div>
                        <div class="form-group length">
                            <label>Message</label>
                            <textarea type="text" class="form-control" formControlName="msg" placeholder="Type"
                                rows="5"></textarea>
                            <div class="text_length">
                                <p>(0 of 150)</p>
                            </div>
                        </div>

                        <div class="form-group submit">
                            <button class="submit_btn" (click)="onSubmit()" data-dismiss="modal"
                                [disabled]="!alertForm || !isAlertFor || !isMsgFor">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>