<!-- <div>
    <br>
    <h3 style="text-align: center;">Claims List</h3>

    <mat-form-field style="width: 100% ;">
        <input matInput placeholder="Search" value="" (keyup)='updateFilter($event)' />
    </mat-form-field>

    <ngx-datatable [rows]="rows" class="material bg-white" [limit]="8" [scrollbarH]="true"
        [columnMode]="ColumnMode.force" [rowHeight]="50" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
        [sorts]="[{ prop: 'name', dir: 'desc' }]">
        <ngx-datatable-column name="#">
            <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                {{rowIndex+1}}
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Name">
            <ng-template let-row="row" ngx-datatable-cell-template>
                <div *ngIf="row.requestOn">{{row.requestOn.firstName}}</div>
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Status">
            <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.status}}
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Email">
            <ng-template let-row="row" ngx-datatable-cell-template>
                <div *ngIf="row.requestOn">{{row.requestOn.email}}</div>
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Action">
            <ng-template let-row="row" ngx-datatable-cell-template>

                 <mat-icon matTooltip="edit" matTooltipPosition="above" (click)="edit(row)">edit</mat-icon>
                    <mat-icon matTooltip="delete" matTooltipPosition="above" color="warn">delete</mat-icon>
                    <mat-icon matTooltip="manage" matTooltipPosition="above">open_in_new</mat-icon> -->
<!-- <mat-icon (click)="activeSkill($event)" color="primary">edit</mat-icon> -->
<!-- <mat-chip matTooltip="status" matTooltipPosition="above" mat-sm-chip selected
                        style="background-color: green;">active</mat-chip> 

                <button mat-icon-button [matMenuTriggerFor]="msgMenu" class="hidden-on-open">
                    <mat-icon class="text-muted">more_vert</mat-icon>
                </button>
                <mat-menu #msgMenu="matMenu">
                    <button mat-menu-item (click)="claimActionToApprove(row)">
                        Approve
                    </button>

                    <button mat-menu-item (click)="claimActionToReject(row)">
                        Reject
                    </button>
                </mat-menu>

            </ng-template>
        </ngx-datatable-column>


    </ngx-datatable>
</div>
 -->













<div class="container">
  <br>
  <div class="row">
    <div class="col-12">


      <div class="search-section">
        <input type="text" class="search_input" placeholder="Search By Claim's Name" [(ngModel)]="searchText" />
        <i class="fa fa-filter filter-icon" aria-hidden="true" *ngIf="searchText"></i>
        <span class="back-search">
          <mat-icon>search</mat-icon>
        </span>
      </div>

      <div class="row">
        <div class="col-6">
          <h4 class="col-greys">Claim's List</h4>
        </div>
        <div class="col-6 text-right add_buttons">
          <button class="letsplay_btn">+ ADD NEW CLAIM</button>
        </div>
      </div>
    </div>

  </div>
  <table class="table forum-table">
    <tbody>
      <tr>
        <th>
          Name
        </th>
        <th>
          Status
        </th>
        <th>
          Email
        </th>
        <th>
          Date
        </th>
        <th></th>
      </tr>
      <tr *ngFor="let claim of claimsList | filter : searchText">
        <td>
          <span (click)="openPopUp(claim)" *ngIf="claim.requestOn">{{claim.requestOn.firstName}}</span>
          <!-- <div *ngIf="claim.requestOn" >{{claim.requestOn.firstName}}</div> -->
        </td>
        <td>
          <span (click)="openPopUp(claim)">{{claim.status}}</span>
        </td>
        <td>
          <div *ngIf="claim.requestOn">{{claim.requestOn.email}}</div>
        </td>
        <td>
          <span (click)="openPopUp(claim)">{{claim.createdOn | date}}</span>       
        </td>
        <td>
          <mat-icon [matMenuTriggerFor]="menu" class="menubutton tags_list">more_vert</mat-icon>
          <mat-menu #menu="matMenu" yPosition="below">
            <button mat-icon-button [matMenuTriggerFor]="menu" class="hidden-on-open">
              <mat-icon class="text-muted">more_vert</mat-icon>
            </button>
            <!-- <mat-menu #msgMenu="matMenu"> -->
            <!-- <button mat-menu-item (click)="claimActionToApprove(row)">
                        Approve
                    </button>

                    <button mat-menu-item (click)="claimActionToReject(row)">
                        Reject
                    </button> -->
            <button mat-menu-item (click)="claimActionToApprove(claim)">
              <mat-icon class="col-blue">edir</mat-icon>Approve
            </button>
            <button mat-menu-item (click)="claimActionToReject(claim)">
              <mat-icon class="col-blue">delete</mat-icon>Reject
            </button>
          </mat-menu>
        </td>
      </tr>
    </tbody>
  </table>

</div>

<!-- Modal -->
<!-- <div class="modal fade new_topic" id="badgesList" data-backdrop="static" data-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <mat-icon class="material-icons icon-image-preview">cancel</mat-icon>
        </button>
        <div class="modal-body">
          <h2>Add New Badge</h2>
          <div class="form_outer">
            <form [formGroup]="claimsForm" autocomplete="off">
  
              <div class="form-group">
                <label>Name</label>
                <input type="text" class="form-control" formControlName="name" placeholder="Type">
              </div>
              <div class="form-group">
                <label>Icon</label>
                  placeholder="Type">
              </div>
  
              <div class="form-group length">
                <label>Description</label>
                <textarea type="text" class="form-control" formControlName="description" placeholder="Type"
                  rows="5"></textarea>
                <div class="text_length">
                  <p>(0 of 150)</p>
                </div>
              </div>
  
               <div class="form-group submit">
                <button class="submit_btn" (click)="onSubmit()" data-dismiss="modal"
                  [disabled]="!claimsForm">Submit</button>
              </div> 
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
   -->







<!-- 
  <div class="form-group">
    <label>Add for</label>
    <div class="checkbox_outer">
      <label class="ch-radio">
        <input name="hiring" type="radio">
        <span>
          <i class="ch-icon material-icons icon-image-preview">done</i>All
        </span>
      </label>
      <label class="ch-radio">
        <input name="hiring" type="radio">
        <span>
          <i class="ch-icon material-icons icon-image-preview">done</i>
          Parents
        </span>
      </label>
      <label class="ch-radio">
        <input name="hiring" type="radio">
        <span>
          <i class="ch-icon material-icons icon-image-preview">done</i>Providers
        </span>
      </label>
      <label class="ch-radio">
        <input name="hiring" type="radio">
        <span>
          <i class="ch-icon material-icons icon-image-preview">done</i>
          Email
        </span>
      </label>
    </div>
  </div> -->