<div class="add-activity-popup-info">
  <div class="add-activity-body">
    <div class="row">
        <div class="col-md-4">
            <div class="sidebar-progress">
                <div class="progress-box">
                    <div class="sidebar-top-h3 mb-40">
                        <h3>Add Activity</h3>
                    </div>
                    <div class="cicle-dots">
                        <div class="dots-info dots-info1" (click)="nextStep(1)">
                            <h3 class="prog_text" [ngClass]="{active: step1}">Activity Info</h3>
                        </div>
                        <div class="dots-info dots-info2" (click)="nextStep(2)">
                            <h3 class="prog_text" [ngClass]="{active: step2}">Category & Type</h3>
                        </div>
                        <div class="dots-info dots-info3" (click)="nextStep(3)">
                            <h3 class="prog_text" [ngClass]="{active: step3}">Activity Details</h3>
                        </div>
                        <div class="dots-info dots-info4" (click)="nextStep(4)">
                            <h3 class="prog_text" [ngClass]="{active: step4}">Date & Time</h3>
                        </div>
                        <div class="dots-info dots-info5" (click)="nextStep(5)">
                            <h3 class="prog_text" [ngClass]="{active: step5}">Pricing</h3>
                        </div>
                        <div class="dots-info dots-info6" (click)="nextStep(6)">
                            <h3 class="prog_text" [ngClass]="{active:step6}">Special Instructions</h3>
                        </div>
                        <div class="dots-info dots-info7" (click)="nextStep(7)">
                            <h3 class="prog_text" [ngClass]="{active: step7}">Source</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-8">
            <div class="btn-save-close-info">
                <button class="btn-save-close">Save & Close <img src="/assets/images/crose-white-icon.svg"/></button>
            </div>
            <div class="main-body-content">
              <div class="multi-step-scroll-form">
                <!-- active info popup -->
                <div class="active-info-popup height-equal-scroll">
                    <div class="box-content bg-white">
                        <h2 class="h2">Activity Info</h2>
                        <div class="active-info-form">
                            <div class="field-group">
                                <div class="label-heading">
                                    Activity Name
                                </div>
                                <input type="text" class="input-field" required [(ngModel)]="program.name">
                            </div>
                            <div class="field-group">
                                <div class="label-heading">
                                    Default Emails
                                </div>
                                <div class="input-icon-field">
                                    <input type="email" placeholder="email@example.com" class="input-field" required [(ngModel)]="program.email">
                                    <img src="/assets/images/pensil-blue-icon.svg"/>
                                </div>
                            </div>
                            <div class="field-group">
                                <div class="label-heading">
                                    Phone Number
                                </div>
                                <div class="input-icon-field">
                                    <input type="tel" class="input-field" required>
                                    <img src="/assets/images/pensil-blue-icon.svg"/>
                                </div>
                            </div>
                            <div class="field-group">
                                <div class="label-heading">
                                    Address
                                </div>
                                <input type="text" class="input-field" required>
                            </div>
                            <div class="row">
                            <div class="col-md-6 field-group">
                                <div class="label-heading">
                                    City
                                </div>
                                <input type="text" class="input-field" required>
                            </div>
                            <div class="col-md-6 field-group">
                                <div class="label-heading">
                                    ZIP
                                </div>
                                <input type="text" class="input-field" required>
                            </div>
                            </div>
                            <div class="field-group">
                                <div class="checkboxes__item">
                                    <label class="checkbox">
                                      <input type="checkbox"/>
                                      <div class="checkbox__checkmark"></div>
                                      <div class="checkbox__body">Expired Activity</div>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end active info popup -->

                <!-- Start Category & Type popup -->
                <div class="category-type-popup height-equal-scroll">
                    <div class="box-content bg-white">
                        <h2 class="h2">Category</h2>
                        <div class="active-info-form">
                            <div class="field-group">
                                <div class="label-heading">
                                    Category
                                </div>
                                <input type="text" class="input-field" >
                            </div>
                            <div class="field-group">
                                <div class="label-heading">
                                    Sub - Category
                                </div>
                                <input type="text" class="input-field" >
                            </div>
                            <div class="field-group">
                                <div class="label-heading">
                                    Program type
                                </div>
                                <select class="input-field select-down-icon">
                                    <option value="Camps">Camps</option>
                                    <option value="Semesters">Semesters</option>
                                    <option value="Drop-ins">Drop-ins</option>
                                    <option value="Other">Other</option>
                                </select>
                            </div>
                            <div class="field-group">
                                <div class="label-heading">
                                    Age group
                                </div>                         
                                <ng5-slider [(value)]="minAge" [(highValue)]="maxAge" [options]="ageOption">
                                </ng5-slider>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end Category & Type popup -->

                <!-- Start Activity Details popup -->
                <div class="activity-details-popup height-equal-scroll">
                    <div class="box-content bg-white">
                        <h2 class="h2">Activity Details</h2>
                        <div class="active-info-form">
                            <div class="field-group">
                                <div class="label-heading">
                                    Presenter
                                </div>
                                <input type="text" class="input-field" required [(ngModel)]="program.name">
                            </div>
                            <div class="field-group">
                                <div class="label-heading">
                                    Description
                                </div>
                                <textarea #ProgramDescription type="text" maxlength="3000" rows="4" class="input-field"
                                    placeholder="Type" required [(ngModel)]="program.description">
                                </textarea>
                                <span class="text-absolu">({{ProgramDescription.value?.length}} of 3000)</span>
                            </div>
                            <div class="field-group">
                                <div class="label-heading">
                                    Joining Link
                                </div>
                                <div class="input-icon-field joining-link-clr">
                                    <input type="url" placeholder="htttps;//fjoejfosjafj" class="input-field" required>
                                    <img src="/assets/images/pensil-blue-icon.svg"/>
                                </div>
                            </div>
                            <div class="field-group">
                                <div class="grid-capacity-row">
                                    <div>
                                        <div class="label-heading">
                                            Capacity
                                        </div>                         
                                        <ng5-slider [(value)]="minCapacity" [(highValue)]="maxCapacity" [options]="capacityOption"> </ng5-slider>
                                    </div>
                                    <div>
                                        <div class="checkbox-blue-box">
                                            <div class="checkboxes__item">
                                                <label class="checkbox">
                                                  <input type="checkbox"/>
                                                  <div class="checkbox__checkmark"></div>
                                                  <div class="checkbox__body">Activity is full</div>
                                                </label>
                                            </div>
                                            <div class="checkboxes__item">
                                                <label class="checkbox">
                                                  <input type="checkbox"/>
                                                  <div class="checkbox__checkmark"></div>
                                                  <div class="checkbox__body">No capacity info</div>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <!-- <div class="box text-center p-3 bg-white">
                        <h2 class="h2">Add Program Information</h2>
                        <div class="row">
                            <div class="col-md-6 mx-auto">
                                <div class="files color">
                                    <input type="file" class="form-control" (change)="UploadImage($event)" multiple="">
                                </div>
                            </div>
                        </div>
                    </div> -->

                </div>
                <!-- end Activity Details popup -->

                <!-- Start Date & Time popup -->
                <div class="date-time-popup height-equal-scroll">
                    <div class="box text-center p-3 bg-white">
                        <h2 class="h2">Set-up Time & Price</h2>
                        <div class="tim-datespacing">
                            <section>
                                <div class="container_1">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group date_input">
                                                <label class="custom-label">Dates</label><span class="range-span">(range or
                                                    every Monday)</span>
                                                <div class="input-group mb-3">
                                                    <!-- <input [owlDateTimeTrigger]="dt3" placeholder="Start Date"
                                                        class="form-control" [owlDateTime]="dt3"
                                                        [(ngModel)]="program.date.from" readonly>
                                                    <owl-date-time [pickerType]="'calendar'" #dt3></owl-date-time> -->
                                                    <!-- <input type="text" id="fromDateSelector" class="form-control" placeholder="Start Date"> -->
                                                    <div class="input-group-prepend">
                                                        <div class="input-group-text custom-text">
                                                            <img class="arrow" src="assets/right.png">
                                                        </div>
                                                    </div>
                                                    <!-- <input [owlDateTimeTrigger]="dt4" placeholder="End Date"
                                                        class="form-control" [owlDateTime]="dt4"
                                                        [(ngModel)]="program.date.to" readonly>
                                                    <owl-date-time [pickerType]="'calendar'" #dt4></owl-date-time> -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>

                            <section>
                                <div class="container_2">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group date_input">
                                                <label class="custom-label">Time</label>
                                                <span class="rangeevery-span">monthly or weekly option</span>
                                                <div class="input-group mb-3">
                                                    <!-- <input [owlDateTimeTrigger]="dt5" [owlDateTime]="dt5"
                                                        placeholder="Start Time" class="form-control"
                                                        [(ngModel)]="program.time.from" readonly>
                                                    <owl-date-time [pickerType]="'timer'" #dt5></owl-date-time> -->
                                                    <!-- <input type="text" class="form-control" placeholder="Start Time"> -->
                                                    <div class="input-group-prepend">
                                                        <div class="input-group-text custom-text">
                                                            <img class="arrow" src="assets/right.png">
                                                        </div>
                                                    </div>
                                                    <!-- <input [owlDateTimeTrigger]="dt6" [owlDateTime]="dt6"
                                                        placeholder="End Time" class="form-control"
                                                        [(ngModel)]="program.time.to" readonly>
                                                    <owl-date-time [pickerType]="'timer'" #dt6></owl-date-time> -->
                                                    <!-- <input type="text" class="form-control custom-text" placeholder="End Time"> -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>

                            <section>
                                <div class="container_2">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="custom-label">Duration</label>

                                                <input type="text" class="form-control" placeholder="Type"
                                                    [(ngModel)]="program.duration">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>

                            <section>
                                <div class="container_2">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="text_color">IS IT a free activity?</label>
                                                <div class="adult_assistance">
                                                    <label class="switch notification">
                                                        <input type="checkbox" [(ngModel)]="isFree">
                                                        <span class="slider round"></span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>

                            <section *ngIf="!isFree">
                                <div class="container_2">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group participant_input">
                                                <label class="custom-label">Price Per Participant</label>
                                                <div class="input-group mb-3">
                                                    <div class="input-group-prepend">
                                                        <div class="input-group-text">
                                                            $
                                                        </div>
                                                    </div>
                                                    <input type="text" class="form-control" placeholder="Type"
                                                        [(ngModel)]="program.pricePerParticipant">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group participant_input">
                                                <label class="custom-label">Price For Siblings</label>
                                                <div class="input-group mb-3">
                                                    <div class="input-group-prepend">
                                                        <div class="input-group-text">
                                                            $
                                                        </div>
                                                    </div>
                                                    <input type="text" class="form-control" placeholder="Type"
                                                        [(ngModel)]="program.priceForSiblings" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <div class="another-time">
                                <span>another time</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end Date & Time popup -->

                <!-- Start Pricing popup -->
                <div class="pricing-info-popup height-equal-scroll">
                    <div class="box text-center p-3 bg-white">
                        <h2 class="my_heading1">More Details</h2>
                        <!-- <p><del>Your information will help us to customized activities according to their age group</del></p> -->
    
                        <div class="tim-datespacing">
                            <section>
                                <div class="container_2">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="custom-label">Default email</label>
                                                <span class="close-img"><img src="assets/black-cross.png"></span>
                                                <input type="text" class="form-control" placeholder="john.doe@domain.com"
                                                    [(ngModel)]="program.email" name="programName" required>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
    
                            <section>
                                <div class="container_2">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="about">
                                                <div class="N_container_box_input_heading">
                                                    Special Instructions for parents or Participants
                                                </div>
                                                <textarea #specialInstruction type="text" ProgramDescription
                                                    maxlength="3000" rows="4" class="my_inputs" placeholder="Type"
                                                    [(ngModel)]="program.specialInstructions" required></textarea>
                                                <span class="text-absolus">({{specialInstruction.value?.length}} of
                                                    3000)</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
    
                            <section>
                                <div class="container_2">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="text_color">Adult assistance is required</label>
                                                <div class="adult_assistance">
                                                    <label class="switch notification">
                                                        <input type="checkbox"
                                                            [(ngModel)]="program.adultAssistanceIsRequried">
                                                        <span class="slider round"></span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <section>
                                <div class="container_2">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="custom-label">Age Group</label>
                                                <br>
                                                <br>
                                                <ng5-slider [(value)]="minAge" [(highValue)]="maxAge" [options]="ageOption">
                                                </ng5-slider>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
    
                            <section>
                                <div class="container_2">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="custom-label">Capacity</label>
                                                <br>
                                                <br>
                                                <ng5-slider [(value)]="minCapacity" [(highValue)]="maxCapacity"
                                                    [options]="capacityOption">
                                                </ng5-slider>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
                <!-- end Pricing popup -->

                <!-- Start Special Instructions popup -->
                <div class="special-instructions-popup height-equal-scroll">
                    <div class="box text-center p-3 bg-white">
                        <h2 class="h2">Add Session</h2>
                        <div class="tim-datespacing last-step">
                            <section>
                                <div class="container_2">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="custom-label">Session name</label>
                                                <span class="close-img"><img (click)="session.sessionName=''"
                                                        src="assets/close.png"></span>
                                                <input type="text" class="form-control" placeholder="My test Session"
                                                    [(ngModel)]="session.sessionName">
    
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <section>
                                <div class="container_2">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="custom-label">Session ADDRESS</label>
    
                                                <input type="text" class="form-control" placeholder="Add session address"
                                                    [(ngModel)]="session.sessionAddress">
    
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
    
                            <section>
                                <div class="container_2">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group date_input">
                                                <label class="custom-label">Date (start and end date)</label>
                                                <div class="input-group mb-3">
                                                    <!-- <input [owlDateTimeTrigger]="dt11" placeholder="Start Date"
                                                        class="form-control" [owlDateTime]="dt11"
                                                        [(ngModel)]="session.sessionStartDate" readonly>
                                                    <owl-date-time [pickerType]="'calendar'" #dt11></owl-date-time> -->
                                                    <!-- <input type="text" id="fromDateSelector" class="form-control" placeholder="Start Date"> -->
                                                    <div class="input-group-prepend">
                                                        <div class="input-group-text custom-text">
                                                            <img class="arrow" src="assets/right.png">
                                                        </div>
                                                    </div>
                                                    <!-- <input [owlDateTimeTrigger]="dt12" placeholder="End Date"
                                                        class="form-control" [owlDateTime]="dt12"
                                                        [(ngModel)]="session.sessionEndDate" readonly>
                                                    <owl-date-time [pickerType]="'calendar'" #dt12></owl-date-time> -->
    
                                                </div>
    
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
    
                            <section>
                                <div class="container_2">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group date_input">
                                                <label class="custom-label">Time</label>
    
                                                <div class="input-group mb-3">
                                                    <!-- <input [owlDateTimeTrigger]="dt5" [owlDateTime]="dt5"
                                                        placeholder="Start Time" class="form-control"
                                                        [(ngModel)]="session.sessionStartTime" readonly>
                                                    <owl-date-time [pickerType]="'timer'" #dt5></owl-date-time> -->
                                                    <!-- <input type="text" class="form-control" placeholder="Start Time"> -->
                                                    <div class="input-group-prepend">
                                                        <div class="input-group-text custom-text">
                                                            <img class="arrow" src="assets/right.png">
                                                        </div>
                                                    </div>
                                                    <!-- <input [owlDateTimeTrigger]="dt6" [owlDateTime]="dt6"
                                                        placeholder="End Time" class="form-control"
                                                        [(ngModel)]="session.sessionEndTime" readonly>
                                                    <owl-date-time [pickerType]="'timer'" #dt6></owl-date-time> -->
                                                    <!-- <input type="text" class="form-control custom-text" placeholder="End Time"> -->
                                                </div>
    
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
    
                            <section>
                                <div class="container_2">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="custom-label">NUMBER OF SEATS</label>
                                                <input type="text" class="form-control" placeholder="Type"
                                                    [(ngModel)]="session.noOfSeats">
    
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
    
                            <div class="another-time">
                                <span>add more session</span>
                            </div>
    
                        </div>
                    </div>
                </div>
                <!-- end Special Instructions popup -->

                <!-- Start Source popup -->
                <!-- <div class="source-info-popup">
                
                </div> -->
                <!-- end Source popup -->


              </div>
            </div>  
            <!-- end main body content -->
        </div>

    </div>
    <!-- end row -->
  </div>
  <!-- end add-activity-body -->
</div>