.add-activity-body {position: relative;overflow: hidden;}
.sidebar-progress {background: #DCF3FF;border-radius: 0px;padding: 30px 35px;height: 100%;}
.sidebar-top-h3 h3 {font-family: 'Poppins';font-style: normal;font-weight: 400;font-size: 26px;line-height: 39px;color: #828282;margin-bottom: 0px;}
.sidebar-progress .dots-info{margin-bottom: 20px;cursor: pointer;}
.sidebar-progress .cicle-dots .dots-info h3 {font-family: 'Poppins';font-style: normal;font-weight: 400;font-size: 18px;line-height: 27px;color: #828282;margin-bottom: 0px;}
.sidebar-progress .cicle-dots .dots-info .prog_text.active{color: #53B2E8;}

.btn-save-close-info {display: flex;justify-content: end;position: relative;width: 100%;padding: 15px;}
.btn-save-close {font-family: 'Poppins';font-style: normal;font-weight: 600;font-size: 12px;line-height: 18px;text-align: center;letter-spacing: 0.02em;text-transform: uppercase;color: #FFFFFF;background: #53B2E8;border: 1px solid #53B2E8;border-radius: 20px 0px 0px 20px;padding: 8px 5px 8px 14px;display: flex;column-gap: 8px;}
.btn-cross-close {background: #53B2E8;border: 1px solid #53B2E8;border-radius: 0 20px 20px 0px;padding: 8px 14px 8px 5px;display: flex;}
.main-body-content h2.h2 {font-family: 'Poppins';font-style: normal;font-weight: 400;font-size: 18px;line-height: 18px;color: #494949;margin-bottom: 30px;}
.height-equal-scroll{height: 100%;max-height: 740px;min-height: 740px;}
.label-heading {font-family: 'Poppins';font-style: normal;font-weight: 600;font-size: 12px;line-height: 18px;letter-spacing: 0.01em;text-transform: capitalize;color: #494949;margin-bottom: 4px;}
.input-field {border: 1px solid #E5E9EC;border-radius: 20px;padding: 13px 15px;margin-bottom: 15px;width: 100%;font-family: 'Poppins';font-style: normal;font-weight: 400;font-size: 12px;line-height: 18px;letter-spacing: 0.001em;color: rgba(0, 0, 0, 0.87);background-color: #fff;}
.input-field:focus-visible {outline: unset;}
.input-icon-field {position: relative;}
.input-icon-field .input-field {padding-right: 40px;}
.input-icon-field img {position: absolute;right: 18px;top: 15px;}
.joining-link-clr .input-field::placeholder {color: #53B2E8;text-decoration-line: underline;}

select.select-down-icon {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url(/assets/images/select-down-icon.svg);
    background-repeat: no-repeat;
    background-position: 97% center;
    padding-right: 30px;
}
.mb-10{margin-bottom: 10px;}
.mb-15{margin-bottom: 15px;}
.mb-20{margin-bottom: 20px;}
.mb-30{margin-bottom: 30px;}
.mb-40{margin-bottom: 40px;}

.checkbox {display: inline-block;position: relative;padding-left: 20px;cursor: pointer;
    -webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;}
.checkbox input {position: absolute;opacity: 0;cursor: pointer;height: 0;width: 0;}
.checkbox .checkbox__checkmark {position: absolute;top: 2px;left: 0;height: 14px;width: 14px;
background-color: #fff;border: 1px solid #77C6E9;transition: background-color 0.25s ease;border-radius: 1   px;}
.checkbox .checkbox__checkmark:after {content: "";position: absolute;left: 4px;top: 1px;width: 4px;
height: 8px;border: solid #77C6E9;border-width: 0 1px 1px 0;transform: rotate(45deg);opacity: 0;transition: opacity 0.25s ease;}
.checkbox input:checked ~ .checkbox__checkmark:after {opacity: 1;}
.checkbox .checkbox__body {font-family: 'Poppins';font-style: normal;font-weight: 400;font-size: 14px;line-height: 18px;color: #494949;}
.checkbox-blue-box .checkbox .checkbox__checkmark:after {left: -1px;top: -1px;width: 14px;height: 14px;background-color: #53B2E8;border: 1px solid #77C6E9;transform: unset;}

.multi-step-scroll-form {position: relative;display: block;height: calc(100vh - 20vh);max-height: 740px;width: 100%;overflow: hidden;overflow-y: scroll;padding: 30px 15% 0px 0px;margin-bottom: 0px;}
.multi-step-scroll-form::-webkit-scrollbar-track{background-color: #DCF3FF;}
.multi-step-scroll-form::-webkit-scrollbar{width: 10px;background-color: #DCF3FF;}
.multi-step-scroll-form::-webkit-scrollbar-thumb{background-color: #53B2E8;border-radius: 10px;}

::ng-deep .ng5-slider {width: 80%!important;margin-top: 0 !important;}
::ng-deep .ng5-slider .ng5-slider-pointer {width: 14px !important;height: 14px !important;top: -3px !important;background-color: #fff !important;}
::ng-deep .ng5-slider .ng5-slider-pointer:after {position: absolute!important;top: 1px!important;left: 1px!important;width: 12px!important;height: 12px!important;border-radius: 7px!important;background-color: #53B2E8!important;}
::ng-deep .ng5-slider .ng5-slider-bar {width: 100%!important;height: 8px!important;z-index: 1!important;border-radius: 2px!important;}
::ng-deep .ngx-slider .ngx-slider-selection {background-color: #53B2E8 !important;}
::ng-deep .ng5-slider .ng5-slider-bubble {font-family: 'Poppins';font-style: normal;font-weight: 500;font-size: 10px !important;line-height: 15px;text-align: justify;letter-spacing: 0.01em;text-transform: uppercase;color: #494949 !important;top: 15px !important;}

.grid-capacity-row {display: grid;grid-template-columns: 75% auto;}

.btn-multipal {font-family: 'Poppins';font-style: normal;font-weight: 400;font-size: 16px;line-height: 24px;color: #53B2E8;padding: 5px 5px;width: 120px;background-color: #fff;border: 1px solid #53B2E8;}
.btn-multipal:first-child {border-right: none;border-radius: 15.5px 0px 0px 15.5px;}
.btn-multipal:last-child {border-left: none;border-radius: 0px 15.5px 15.5px 0px;}
.btn-multipal.active {background: #53B2E8;color: #fff;}

::ng-deep label.mat-slide-toggle-label {margin-bottom: 0px;}
::ng-deep .egret-navy .mat-slide-toggle-bar {background-color: #C5CED6;}
::ng-deep .mat-slide-toggle-bar {width: 30px;height: 16px;border-radius: 28px;}
::ng-deep .egret-navy .mat-slide-toggle.mat-primary.mat-checked .mat-slide-toggle-bar {background-color: #53B2E8;}
::ng-deep .mat-slide-toggle-thumb-container {width: 14px;height: 14px;top: 1px;left: 1px;}
::ng-deep .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb-container {left: -1px;}
::ng-deep .mat-slide-toggle-thumb {height: 14px;width: 14px;}
::ng-deep .egret-navy .mat-slide-toggle.mat-primary.mat-checked .mat-slide-toggle-thumb {background-color: #fff;}
::ng-deep .mat-slide-toggle .mat-slide-toggle-ripple {display: none;}

.btn-slide-toggle-info {display: flex;column-gap: 8px;margin-bottom: 0px;}
.btn-slide-toggle-info .slide-toggle-txt {font-family: 'Poppins';font-style: normal;font-weight: 400;font-size: 12px;line-height: 18px;letter-spacing: 0.01em;color: #494949;margin-top: 3px;margin-bottom: 0px;}

.btn-start-end-date {display: grid;grid-template-columns: 45% auto 45%;column-gap: 10px;background: #FFFFFF;border: 1px solid #E5E9EC;border-radius: 20px;padding: 5px 15px;cursor: pointer;}
.btn-start-date, .btn-end-date {display: flex;align-items: center;justify-content: space-between;}
.btn-mid-arrow {display: block;text-align: center; margin-top: 10px;}
.btn-start-end-date h3 {font-family: 'Poppins';font-style: normal;font-weight: 400;font-size: 14px;line-height: 21px;letter-spacing: 0.001em;color: #494949;margin-bottom: 0px;}

.weekday-list-info {display: grid;grid-template-columns: 1fr 1fr;column-gap: 15px;}
.weekday-list-info div {padding-bottom: 10px;margin-bottom: 10px;border-bottom: 1px solid #DCF3FF;}
.weekday-list-info div:last-child, .weekday-list-info div:nth-last-child(2) {border-bottom: none;}
.weekday-list-info h3 {font-family: 'Poppins';font-style: normal;font-weight: 400;font-size: 10px;line-height: 15px;text-align: justify;letter-spacing: 0.01em;text-transform: uppercase;color: #494949;margin-bottom: 0;}
.weekday-list-info h3 span.bold{font-weight: 600;}

.gird-date-time {display: grid;grid-template-columns: 1fr 1fr;column-gap: 10px;}

.weekday-ceckboxes-info {display: flex;flex-direction: row;flex-wrap: wrap;column-gap: 35px;}
.weekday-ceckboxes-info .checkbox__body {font-family: 'Poppins';font-style: normal;font-weight: 400;font-size: 12px;line-height: 18px;letter-spacing: 0.001em;color: #494949;}
.checkbox-circle-box .checkbox {padding: 0px;}
.checkbox-circle-box .checkbox__checkmark {position: relative;height: 18px;width: 18px;border: 1px solid #C4C4C4;border-radius: 50px;margin: 0px auto;margin-bottom: 7px;}
.checkbox-circle-box .checkbox .checkbox__checkmark:after {width: 18px;height: 18px;border-radius: 50%;}

.field-group input.form-control {font-family: 'Poppins';font-style: normal;font-weight: 400;font-size: 12px;line-height: 18px;letter-spacing: 0.001em;color: rgba(0, 0, 0, 0.87);height: 46px;background: #FFFFFF;border: 1px solid #E5E9EC;border-radius: 0px 20px 20px 0px;}
.field-group .input-group-text {font-family: 'Poppins';font-style: normal;font-weight: 400;font-size: 13px;line-height: 16px;letter-spacing: 0.001em;color: #494949;height: 46px;background: #FFFFFF;border: 1px solid #E5E9EC;border-radius: 20px 0px 0px 20px;padding: 0px 18px;}
.field-group input.form-control::placeholder {color: #BDBDBD;}
.field-group .form-control:focus{box-shadow: unset;}
.field-group .form-control:focus-visible {outline: unset;}

.special-instructions-popup label.slide-toggle-txt .font-weight-600 {font-weight: 600!important;}

.field-days-hours-marge {display: grid;grid-template-columns: 70% 30%;}
.field-days-hours-marge input.input-field {border-radius: 20px 0px 0px 20px;}
.field-days-hours-marge select.input-field {border-radius: 0px 20px 20px 0px;margin-left: -1px;background-position: 90% center;}

/* end css */

   