.add-activity-body {position: relative;overflow: hidden;}
.sidebar-progress {background: #DCF3FF;border-radius: 0px;padding: 30px 35px;height: 100%;}
.sidebar-progress .progress-box {position: fixed;}
.sidebar-top-h3 h3 {font-family: 'Poppins';font-style: normal;font-weight: 400;font-size: 26px;line-height: 39px;color: #828282;margin-bottom: 0px;}
.sidebar-progress .dots-info{margin-bottom: 20px;cursor: pointer;}
.sidebar-progress .cicle-dots .dots-info h3 {font-family: 'Poppins';font-style: normal;font-weight: 400;font-size: 18px;line-height: 27px;color: #828282;margin-bottom: 0px;}
.sidebar-progress .cicle-dots .dots-info .prog_text.active{color: #53B2E8;}

.btn-save-close-info {display: flex;justify-content: end;position: relative;width: 100%;padding: 15px;}
.btn-save-close {font-family: 'Poppins';font-style: normal;font-weight: 600;font-size: 12px;line-height: 18px;text-align: center;letter-spacing: 0.02em;text-transform: uppercase;color: #FFFFFF;background: #53B2E8;border: 1px solid #53B2E8;border-radius: 20px 0px 0px 20px;padding: 8px 5px 8px 14px;display: flex;column-gap: 8px;}
.btn-cross-close {background: #53B2E8;border: 1px solid #53B2E8;border-radius: 0 20px 20px 0px;padding: 8px 14px 8px 5px;display: flex;}
.main-body-content h2.h2 {font-family: 'Poppins';font-style: normal;font-weight: 400;font-size: 18px;line-height: 18px;color: #494949;margin-bottom: 30px;}
.height-equal-scroll{height: 100%;max-height: 740px;min-height: 740px;}
.label-heading {font-family: 'Poppins';font-style: normal;font-weight: 600;font-size: 12px;line-height: 18px;letter-spacing: 0.01em;text-transform: capitalize;color: #494949;margin-bottom: 4px;}
.input-field {border: 1px solid #E5E9EC;border-radius: 20px;padding: 13px 15px;margin-bottom: 15px;width: 100%;font-family: 'Poppins';font-style: normal;font-weight: 400;font-size: 12px;line-height: 18px;letter-spacing: 0.001em;color: #748494;background-color: #fff;}
.input-field:focus-visible {outline: unset;}
.input-icon-field {position: relative;}
.input-icon-field .input-field {padding-right: 40px;}
.input-icon-field img {position: absolute;right: 18px;top: 15px;}
.joining-link-clr .input-field::placeholder {color: #53B2E8;text-decoration-line: underline;}

select.select-down-icon {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url(/assets/images/select-down-icon.svg);
    background-repeat: no-repeat;
    background-position: 97% center;
    padding-right: 30px;
}
.mb-10{margin-bottom: 10px;}
.mb-15{margin-bottom: 15px;}
.mb-20{margin-bottom: 20px;}
.mb-30{margin-bottom: 30px;}
.mb-40{margin-bottom: 40px;}

.checkbox {display: inline-block;position: relative;padding-left: 20px;cursor: pointer;
    -webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;}
.checkbox input {position: absolute;opacity: 0;cursor: pointer;height: 0;width: 0;}
.checkbox .checkbox__checkmark {position: absolute;top: 2px;left: 0;height: 14px;width: 14px;
background-color: #fff;border: 1px solid #77C6E9;transition: background-color 0.25s ease;border-radius: 1   px;}
.checkbox .checkbox__checkmark:after {content: "";position: absolute;left: 4px;top: 1px;width: 4px;
height: 8px;border: solid #77C6E9;border-width: 0 1px 1px 0;transform: rotate(45deg);opacity: 0;transition: opacity 0.25s ease;}
.checkbox input:checked ~ .checkbox__checkmark:after {opacity: 1;}
.checkbox .checkbox__body {font-family: 'Poppins';font-style: normal;font-weight: 400;font-size: 14px;line-height: 18px;color: #494949;}
.checkbox-blue-box .checkbox .checkbox__checkmark:after {left: -1px;top: -1px;width: 14px;height: 14px;background-color: #53B2E8;border: 1px solid #77C6E9;transform: unset;}

.multi-step-scroll-form {position: relative;display: block;height: calc(100vh - 20vh);max-height: 740px;width: 100%;overflow: hidden;overflow-y: scroll;padding: 30px 15% 0px 0px;margin-bottom: 0px;}
.multi-step-scroll-form::-webkit-scrollbar-track{background-color: #DCF3FF;}
.multi-step-scroll-form::-webkit-scrollbar{width: 10px;background-color: #DCF3FF;}
.multi-step-scroll-form::-webkit-scrollbar-thumb{background-color: #53B2E8;border-radius: 10px;}

::ng-deep .ng5-slider {width: 80%!important;margin-top: 0 !important;}
::ng-deep .ng5-slider .ng5-slider-pointer {width: 14px !important;height: 14px !important;top: -3px !important;background-color: #fff !important;}
::ng-deep .ng5-slider .ng5-slider-pointer:after {position: absolute!important;top: 1px!important;left: 1px!important;width: 12px!important;height: 12px!important;border-radius: 7px!important;background-color: #53B2E8!important;}
::ng-deep .ng5-slider .ng5-slider-bar {width: 100%!important;height: 8px!important;z-index: 1!important;border-radius: 2px!important;}
::ng-deep .ngx-slider .ngx-slider-selection {background-color: #53B2E8 !important;}
::ng-deep .ng5-slider .ng5-slider-bubble {font-family: 'Poppins';font-style: normal;font-weight: 500;font-size: 10px !important;line-height: 15px;text-align: justify;letter-spacing: 0.01em;text-transform: uppercase;color: #494949 !important;top: 15px !important;}

.grid-capacity-row {display: grid;grid-template-columns: 75% auto;}

.btn-multipal {font-family: 'Poppins';font-style: normal;font-weight: 400;font-size: 16px;line-height: 24px;color: #53B2E8;padding: 5px 5px;width: 120px;background-color: #fff;border: 1px solid #53B2E8;}
.btn-multipal:first-child {border-right: none;border-radius: 15.5px 0px 0px 15.5px;}
.btn-multipal:last-child {border-left: none;border-radius: 0px 15.5px 15.5px 0px;}
.btn-multipal.active {background: #53B2E8;color: #fff;}

::ng-deep label.mat-slide-toggle-label {margin-bottom: 0px;}
::ng-deep .egret-navy .mat-slide-toggle-bar {background-color: #C5CED6;}
::ng-deep .mat-slide-toggle-bar {width: 30px;height: 16px;border-radius: 28px;}
::ng-deep .egret-navy .mat-slide-toggle.mat-primary.mat-checked .mat-slide-toggle-bar {background-color: #53B2E8;}
::ng-deep .mat-slide-toggle-thumb-container {width: 14px;height: 14px;top: 1px;left: 1px;}
::ng-deep .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb-container {left: -1px;}
::ng-deep .mat-slide-toggle-thumb {height: 14px;width: 14px;}
::ng-deep .egret-navy .mat-slide-toggle.mat-primary.mat-checked .mat-slide-toggle-thumb {background-color: #fff;}
::ng-deep .mat-slide-toggle .mat-slide-toggle-ripple {display: none;}

.btn-slide-toggle-info {display: flex;column-gap: 8px;margin-bottom: 0px;}
.btn-slide-toggle-info .slide-toggle-txt {font-family: 'Poppins';font-style: normal;font-weight: 400;font-size: 12px;line-height: 18px;letter-spacing: 0.01em;color: #494949;margin-top: 3px;margin-bottom: 0px;}

.btn-start-end-date {display: grid;grid-template-columns: 45% auto 45%;column-gap: 10px;background: #FFFFFF;border: 1px solid #E5E9EC;border-radius: 20px;padding: 5px 15px;cursor: pointer;}
.btn-start-date, .btn-end-date {display: flex;align-items: center;justify-content: space-between;}
.btn-mid-arrow {display: block;text-align: center; margin-top: 10px;}
.btn-start-end-date h3 {font-family: 'Poppins';font-style: normal;font-weight: 400;font-size: 14px;line-height: 21px;letter-spacing: 0.001em;color: #494949;margin-bottom: 0px;}

.weekday-list-info {display: grid;grid-template-columns: 1fr 1fr;column-gap: 15px;}
.weekday-list-info div {padding-bottom: 10px;margin-bottom: 10px;border-bottom: 1px solid #DCF3FF;}
.weekday-list-info div:last-child, .weekday-list-info div:nth-last-child(2) {border-bottom: none;}
.weekday-list-info h3 {font-family: 'Poppins';font-style: normal;font-weight: 400;font-size: 10px;line-height: 15px;text-align: justify;letter-spacing: 0.01em;text-transform: uppercase;color: #494949;margin-bottom: 0;}
.weekday-list-info h3 span.bold{font-weight: 600;}

.gird-date-time {display: grid;grid-template-columns: 1fr 1fr;column-gap: 10px;}

.weekday-ceckboxes-info {display: flex;flex-direction: row;flex-wrap: wrap;column-gap: 35px;}
.weekday-ceckboxes-info .checkbox__body {font-family: 'Poppins';font-style: normal;font-weight: 400;font-size: 12px;line-height: 18px;letter-spacing: 0.001em;color: #494949;}
.checkbox-circle-box .checkbox {padding: 0px;}
.checkbox-circle-box .checkbox__checkmark {position: relative;height: 18px;width: 18px;border: 1px solid #C4C4C4;border-radius: 50px;margin: 0px auto;margin-bottom: 7px;}
.checkbox-circle-box .checkbox .checkbox__checkmark:after {width: 18px;height: 18px;border-radius: 50%;}

.field-group input.form-control {font-family: 'Poppins';font-style: normal;font-weight: 400;font-size: 12px;line-height: 18px;letter-spacing: 0.001em;color: #BDBDBD;height: 46px;background: #FFFFFF;border: 1px solid #E5E9EC;border-radius: 0px 20px 20px 0px;}
.field-group .input-group-text {font-family: 'Poppins';font-style: normal;font-weight: 400;font-size: 13px;line-height: 16px;letter-spacing: 0.001em;color: #494949;height: 46px;background: #FFFFFF;border: 1px solid #E5E9EC;border-radius: 20px 0px 0px 20px;padding: 0px 18px;}
.field-group input.form-control::placeholder {color: #BDBDBD;}
.field-group .form-control:focus{box-shadow: unset;}
.field-group .form-control:focus-visible {outline: unset;}

.special-instructions-popup label.slide-toggle-txt .font-weight-600 {font-weight: 600!important;}

.field-days-hours-marge {display: grid;grid-template-columns: 70% 30%;}
.field-days-hours-marge input.input-field {border-radius: 20px 0px 0px 20px;}
.field-days-hours-marge select.input-field {border-radius: 0px 20px 20px 0px;margin-left: -1px;background-position: 90% center;}

/* end css */

.bg-img {  
        width: auto;
        height: auto;
        background-color:#82c7ee;
    }
    
    .i-padcontainer {
        width: 1000px;
        height: 644px;
        left: 220px;
        top: 82px;
        
        background: #FFFFFF;
    }
    
    .box {
        position: relative;
        width: 100%;
        /* max-height: 680px; */
        min-height:680px;
        height:100%;
        border-radius: 0px 20px 20px 0px;
        background-color: #fff;
        padding-top:46px !important;
    }
    .form-group .form-control:focus, .form-group input:focus {
        border: 1px solid #E5E9EC !important;
       }
    .N_container_box_input_heading {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 15px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: #494949;
    text-align: left;
    padding-top:10px;
    padding-bottom: 4px;
    }
    .tim-datespacing.last-step {
        padding: 20px;
        padding-bottom: 0px;
        padding-left: 130px;
        padding-right: 130px;
    }
    .N_btns.step1234 {
        padding-bottom: 20px;
    }
    .box.text-center input.my_inputs {
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #E5E9EC;
    box-sizing: border-box;
    border-radius: 20px;
    }
    input.my_inputs {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.001em;
    color: #494949;
    padding: 17px;
    }
    
    .my_inputs::placeholder {
        color: rgba(0, 0, 0, 0.3);
      }
    
    
    .about textarea {
    background: #FFFFFF;
    border: 1px solid #E5E9EC;
    box-sizing: border-box;
    border-radius: 20px;
    width: 100%;
    color: #494949;
    }
    .N_btns .col-6 {
    padding-top:20px;
    }
    .step1-btn .col-6 {
        padding-top:120px !important;
    }
    .step2-btn .col-6 {
        padding-top:50px !important;
    }
    .step4-btn .col-6 {
        padding-top:0px !important;
    }
    .step-btn .col-6 {
        margin-top: 22%;
    }
    p.boxes-textdown {
        min-height: 40px;
        font-size: 14px; 
    }
    p.phone-secondary {
        font-style: normal;
       
        font-size: 10px;
        text-align: left;
        margin-top: 7px;
    }
    .N_btns .back_btn {
    border: 1px solid #53B2E8;
    box-sizing: border-box;
    border-radius: 50px;
    padding: 18px;
    width: 65%;
    margin: 0 auto;
    }
    .N_btns .back_btn a {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #53B2E8;
    }
    .N_btns .next_btn {
    background: #53b2e8;
    border: 1px solid #53B2E8;
    box-sizing: border-box;
    box-shadow: 0px 2px 2px rgb(0 0 0 / 12%);
    border-radius: 50px;
    padding: 18px;
    width: 65%;
    margin: 0 auto;
    }
    
    .N_btns .next_btn a {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #FFFFFF;
    }
    .N_inputs_container {
    width: 70%;
    margin: 0 auto;
    margin-top:30px;
    }
    .N_btns {
    padding-bottom:48px;
    }
    .tim-datespacing label.custom-label {
        padding-left: 0px;
    }
    h2.my_heading1 {
        font-style: normal;
        font-weight: normal;
        font-size: 26px;
        text-align: center;
        color: #494949;
    }
    .form-group {
        margin-bottom: 3rem;
    }
    .small_boxes .my_box {
        box-sizing: border-box;
        border-radius: 20px;
        width:70px;
        height:70px;
    }
    .box-boder {
        border: 1px solid #C4C4C4;
        height: 100px;
        width: 100px;
        border-radius: 20px;
        padding:14px;
    }
    .small_boxes .col-3 {
        padding:6px 22px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .small_boxes .category_list.cat-1234 {
        line-height: 40px;
    }
    .category_list.cat-2345 {
        margin-top: 30px;
    }
    .small_boxes .row {
        display: flex;
        align-items: center;
        padding:35px;
        padding-bottom:0px;
        padding-top: 0px;
        justify-content: center;
        text-align: center;
    }
    .step3-btn {
       padding-top:30px;
    }
    .welcomeImg{
        margin: 12px 0px 12px 0px;
    }
    input.my_inputs{
        font-family: 'Poppins';
        
        padding: 15px;
    }
    
    .img_container img.map_img {
        padding: 48px 22px 0px 22px;
        width: 100%;
    }
    .img_container img.map_img1 {
        padding: 48px 22px 0px 22px;
        width: 30%;
    }
    .img_container img.dynamic_img {
        width: 250px!important;
        height:150px!important;
        margin-top: 25px;
        margin-bottom: 20px;
        object-fit: cover;
        object-position: center;
      }
      .about.your-bio {
        padding-left: 110px;
        padding-right: 110px;
    }
    .img_container .map {
        padding: 30px;
        padding-bottom: 17px;
        width: 100%;
        border-radius: 30px;
      }
      /* .dynamic-img{
          border-radius: 50% !important;
          width: 226.8px;
          height: 230.8px;
      } */
    agm-map {
        border-radius: 10px;
        height: 288px;
      }
    .inputs_with_icons {
      display: flex;
      width: 100%;
    }
    span.N_icons {
      width: 15%;
      display: flex;
      align-items: center;
      text-align: center;
      justify-content: center;
      padding: 20px;
    }
    span.N_icons img {
      width: 100%;
    }
    span.input_af {
      width: 80%;
      display: flex;
      padding: 10px 0px;
    }
    .cat_img {
      width: 200px;
      height: 200px;
      cursor: pointer;
    }
    .health_img{
    margin-top: 30px;
    }
    textarea {
      overflow: auto;
      resize: vertical;
      font-family: 'Poppins';
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 18px;
      letter-spacing: 0.001em;
      color: rgba(0, 0, 0, 0.3);
      padding: 17px;
    }
    .box-boder:hover,
    .box-boder.active {
        color: #53B2E8;
        border-color: #53B2E8;
    }
    
    .cant_blank {
        color: red;
        text-align: initial;
    }
    .disable_next{
        background-color: #b5e4f9 !important;
        pointer-events: none;
      }
    /* .input_empty{
        border: 1px solid red;
    } */
    
    ::ng-deep.agm-map-container-inner {
        width: inherit;
        height: inherit;
        border-radius: 20px;
    }
    agm-map.sebm-google-map-container {
        height: 220px;
    }
    
    
             h3.progress-heading {
                font-style: normal;
                font-weight: 500;
                font-size: 18px;
                line-height: 27px;
                color: #494949;
            }       
            
            .progress-box .bar-cl{
                background: #53B2E8;
                border-radius: 20px;
            }
            .progress-box .bar-cl2{
                background: #53B2E8;
                border-radius: 20px;
            }
            .horizontal{
                border-radius: 20px;
            }
            .box-threespacing .boxs:hover {
                color: #53B2E8;
                border-color: #53b2e8;
            }
            .boxs.selectType {
                color: #53B2E8;
                border-color: #53b2e8;
            }
            .vertical {
                border-radius: 20px;
                width:29rem;
                position: absolute;
                top: 118px;
                left: 14em;
                height: 9px;
                background-color: #fff;
            }
            span.text-absolu {
                position: absolute;
                bottom: 167px;
                right: 129px;
                font-size: 12px;
                line-height: 18px;
                letter-spacing: 0.001em;
                color: #E5E9EC;
            }
            span.text-absolus {
                position: absolute;
                bottom: 14px;
                right:34px;
                font-size: 12px;
                line-height: 18px;
                letter-spacing: 0.001em;
                color: #E5E9EC;
            }
            .tim-datespacing .form-group.date_input input.form-control:first-child {
                border-right: none;
                border-radius: 20px 0 0 20px;
            }
            .tim-datespacing .form-group.date_input input.form-control:nth-child(4) {
                border-left: none;
                border-radius: 0 20px 20px 0;
            }
            .tim-datespacing {
                padding:32px;
                padding-left: 130px;
                padding-right: 130px;
                text-align: left;
            }
            .tim-datespacing .form-group{
                margin-bottom: 10px !important;
            }
            .another-time span {
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 600;
                font-size: 10px;
                line-height: 15px;
                letter-spacing: 0.01em;
                text-transform: uppercase;
                color: #000000;
            }
            .pgbar-move {
                transform: rotate(90deg);
            }
            .boxs:hover .box_content svg.calender path {
                stroke: #53B2E8;
            }
            h3.progress-subheading {
                position: absolute;
                width: 154px;
                height: 39px;
                left: 50px;
                top: 40px;
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 400;
                font-size: 26px;
                line-height: 39px;
                color: #828282;
            }
            .category_list.cat-1234 span {
                cursor: pointer;
            }
            h2.my_heading1.drag-upper-spacing {
                padding-bottom: 20px;
            }
            .cicle-dots .dot {
                height: 30px;
                font-style: normal;
                font-weight: normal;
                font-size: 15px;
                width: 30px;
                background: #fff;
                border-radius: 50%;
                display: block;
                line-height: 31px;
                color: #858585;
                padding-left: 11px;
            }
            .dots-info1 .dot.active {
                background: #53B2E8;
                color: #E0E0E0;
            }
    
            .dots-info2 .dot.active {
                background: #53B2E8;
                color: #E0E0E0;
            }
 
    
            .dots-info3 .dot.active {
                background: #53B2E8;
                color: #E0E0E0;
            } 
  
    
            .dots-info4 .dot.active {
                background: #53B2E8;
                color: #E0E0E0;
            } 
  
            .dots-info5 .dot.active {
                background: #53B2E8;
                color: #E0E0E0;
            }

            .dots-info6 .dot.active {
                background: #53B2E8;
                color: #E0E0E0;
            }

            .dots-info7 .dot.active {
                background: #53B2E8;
                color: #E0E0E0;
            }
    
            .box-threespacing {
                padding:40px;
                margin-top: 20px;
                padding-left:50px;
                padding-right:50px;
            }
            .category_list.cat-1234 span {
                font-style: normal;
                font-weight: normal;
                font-size: 12px;
                line-height: 18px;
                letter-spacing: 0.001em;
                color: #858585;
            }
            .N_btns.step1-btn {
                margin-top: 14%;
            }
            .box_content svg.calender {
                stroke: #494949;
            }
            .box_content svg.calender path {
                stroke: #494949;
            }
            span.question-move {
                position: absolute;
                font-style: normal;
                font-weight: bold;
                font-size: 16px;
                right: 102px;
                line-height: 31px;
                letter-spacing: 0.001em;
                color: #53B2E8;
            }
            
            .boxs {
                cursor:pointer;
                height: 150px;
                border-radius: 3px;
                box-sizing: border-box;
                background-position: 0 0, 0 100%;
                background-repeat: no-repeat;
                background-size: 100% 3px;
                background-color: white;
                display: flex;
                justify-content: center;
                align-items: center;
                border: 1px solid #E5E9EC;
                box-sizing: border-box;
                border-radius: 20px;
                transition: 0.8s;
            }
            .drop-drag .drop-box {
                height: 170px;
                width: 315px;
                margin-top: 10px;
                background: #E0E0E0;
                border-radius: 0px;
                margin-left: auto;
                margin-right: auto;
            }
            .program-spacing {
                padding:10px;
                padding-top:0px;
                padding-left:100px;
                padding-right: 100px;
                
            }
            .adult_assistance {
                width: 100%;
                display: flex;
                margin-bottom: 10px;
            }
            .tim-datespacing .form-group.participant_input .input-group-prepend .input-group-text {
                background-color: #fff;
                border: 1px solid #E5E9EC;
                border-radius: 20px 0px 0px 20px;
                padding-left: 20px;
                padding-right: 20px;
            }
            .tim-datespacing span.range-span {
                font-family: 'Poppins';
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 18px;
                text-align: justify;
                letter-spacing: 0.001em;
                color: #000000;
                margin-left: 10px;
            }
            .tim-datespacing span.rangeevery-span {
                font-family: 'Poppins';
        font-style: normal;
       
        font-weight: 600;
        font-size: 10px;
        
        text-align: justify;
        text-transform: uppercase;
        letter-spacing: 0.001em;
        color: #000000;
        position: absolute;
        right: -90px;
        top: -7px;
            }
            .tim-datespacing span.close-img {
                position: absolute;
                right: 35px;
                top: 40px;
            }
            .switch.notification {
                position: relative;
                display: inline-block;
                width: 28px;
                height: 17px;
            }
                    
            .tim-datespacing label.text_color {
                padding: 0px;
            }
            .switch.notification input {
                opacity: 0;
                width: 0;
                height: 0;
            }
            
            .switch.notification .slider {
                position: absolute;
                cursor: pointer;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: #ccc;
                -webkit-transition: .4s;
                transition: .4s;
            }
            
            .switch.notification .slider:before {
                position: absolute;
                content: "";
                height: 12px;
                width: 12px;
                left: 4px;
                bottom: 3px;
                background-color: white;
                -webkit-transition: .4s;
                transition: .4s;
            }
            
            .switch.notification input:checked.slider {
                background-color: #53B2E8;
            }
            
            .switch.notification input:focus.slider {
                box-shadow: 0 0 1px #53B2E8;
            }
            
            .switch.notification input:checked.slider:before {
                -webkit-transform: translateX(9px);
                -ms-transform: translateX(9px);
                transform: translateX(9px);
            }
            .dropZone {
                width: 333px !important;
                margin-top: 20px !important;
            }
            .boxs.selectType .box_content svg.calender path {
                stroke: #53B2E8;
            }
            
            /* Rounded sliders */
            
            .switch.notification .slider.round {
                border-radius: 34px;
            }
            
            .switch.notification .slider.round:before {
                border-radius: 50%;
            }
            
    
    
    
             
             @media only screen and (min-width:1024px) and (max-width:1366px) and (orientation: portrait)  {
                .vertical{
                    border-radius: 20px;
                    width: 31rem;
                    position: absolute;
                    top:101px;
                    left: 14em;
                }
                .bg-img{
                    height: 100vh;
                }
                .i-padcontainer{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                }
             }