<div class="add-activity-popup-info">
  <div class="add-activity-body">
    <div class="row">
        <div class="col-md-4">
            <div class="sidebar-progress">
                <div class="progress-box">
                    <div class="sidebar-top-h3 mb-40">
                        <h3>Add Activity</h3>
                    </div>
                    <div class="cicle-dots">
                        <div class="dots-info dots-info1" (click)="nextStep(1)">
                            <h3 class="prog_text" [ngClass]="{active: step1}">Activity Info</h3>
                        </div>
                        <div class="dots-info dots-info2" (click)="nextStep(2)">
                            <h3 class="prog_text" [ngClass]="{active: step2}">Category & Type</h3>
                        </div>
                        <div class="dots-info dots-info3" (click)="nextStep(3)">
                            <h3 class="prog_text" [ngClass]="{active: step3}">Activity Details</h3>
                        </div>
                        <div class="dots-info dots-info4" (click)="nextStep(4)">
                            <h3 class="prog_text" [ngClass]="{active: step4}">Date & Time</h3>
                        </div>
                        <div class="dots-info dots-info5" (click)="nextStep(5)">
                            <h3 class="prog_text" [ngClass]="{active: step5}">Pricing</h3>
                        </div>
                        <div class="dots-info dots-info6" (click)="nextStep(6)">
                            <h3 class="prog_text" [ngClass]="{active:step6}">Special Instructions</h3>
                        </div>
                        <div class="dots-info dots-info7" (click)="nextStep(7)">
                            <h3 class="prog_text" [ngClass]="{active: step7}">Source</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-8">
            <div class="btn-save-close-info">
                <button class="btn-save-close">Save & Close <img src="/assets/images/crose-white-icon.svg"/></button>
            </div>
            <div class="main-body-content">
              <div class="multi-step-scroll-form">
                <!-- active info popup -->
                <div class="active-info-popup height-equal-scroll">
                    <div class="box-content bg-white">
                        <h2 class="h2">Activity Info</h2>
                        <div class="active-info-form">
                            <div class="field-group">
                                <div class="label-heading">
                                    Activity Name
                                </div>
                                <input type="text" class="input-field" required [(ngModel)]="program.name">
                            </div>
                            <div class="field-group">
                                <div class="label-heading">
                                    Default Emails
                                </div>
                                <div class="input-icon-field">
                                    <input type="email" placeholder="email@example.com" class="input-field" required [(ngModel)]="program.email">
                                    <img src="/assets/images/pensil-blue-icon.svg"/>
                                </div>
                            </div>
                            <div class="field-group">
                                <div class="label-heading">
                                    Phone Number
                                </div>
                                <div class="input-icon-field">
                                    <input type="tel" class="input-field" required>
                                    <img src="/assets/images/pensil-blue-icon.svg"/>
                                </div>
                            </div>
                            <div class="field-group">
                                <div class="label-heading">
                                    Address
                                </div>
                                <input type="text" class="input-field" required>
                            </div>
                            <div class="row">
                            <div class="col-md-6 field-group">
                                <div class="label-heading">
                                    City
                                </div>
                                <input type="text" class="input-field" required>
                            </div>
                            <div class="col-md-6 field-group">
                                <div class="label-heading">
                                    ZIP
                                </div>
                                <input type="text" class="input-field" required>
                            </div>
                            </div>
                            <div class="field-group">
                                <div class="checkboxes__item">
                                    <label class="checkbox">
                                      <input type="checkbox"/>
                                      <div class="checkbox__checkmark"></div>
                                      <div class="checkbox__body">Expired Activity</div>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end active info popup -->

                <!-- Start Category & Type popup -->
                <div class="category-type-popup height-equal-scroll">
                    <div class="box-content bg-white">
                        <h2 class="h2">Category</h2>
                        <div class="active-info-form">
                            <div class="field-group">
                                <div class="label-heading">
                                    Category
                                </div>
                                <input type="text" class="input-field" >
                            </div>
                            <div class="field-group">
                                <div class="label-heading">
                                    Sub - Category
                                </div>
                                <input type="text" class="input-field" >
                            </div>
                            <div class="field-group">
                                <div class="label-heading">
                                    Program type
                                </div>
                                <select class="input-field select-down-icon">
                                    <option value="Camps">Camps</option>
                                    <option value="Semesters">Semesters</option>
                                    <option value="Drop-ins">Drop-ins</option>
                                    <option value="Other">Other</option>
                                </select>
                            </div>
                            <div class="field-group">
                                <div class="label-heading">
                                    Age group
                                </div>                         
                                <ng5-slider [(value)]="minAge" [(highValue)]="maxAge" [options]="ageOption">
                                </ng5-slider>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end Category & Type popup -->

                <!-- Start Activity Details popup -->
                <div class="activity-details-popup height-equal-scroll">
                    <div class="box-content bg-white">
                        <h2 class="h2">Activity Details</h2>
                        <div class="active-info-form">
                            <div class="btn-online-in-person-info mb-30">
                                <button class="btn-multipal active">Online</button>
                                <button class="btn-multipal">In person</button>
                            </div>
                            <div class="field-group">
                                <div class="label-heading">
                                    Presenter
                                </div>
                                <input type="text" class="input-field" required [(ngModel)]="program.name">
                            </div>
                            <div class="field-group">
                                <div class="label-heading">
                                    Description
                                </div>
                                <textarea #ProgramDescription type="text" maxlength="3000" rows="4" class="input-field"
                                    placeholder="Type" required [(ngModel)]="program.description">
                                </textarea>
                                <!-- <span class="text-absolu">({{ProgramDescription.value?.length}} of 3000)</span> -->
                            </div>
                            <div class="field-group">
                                <div class="label-heading">
                                    Joining Link
                                </div>
                                <div class="input-icon-field joining-link-clr">
                                    <input type="url" placeholder="htttps;//fjoejfosjafj" class="input-field" required>
                                    <img src="/assets/images/pensil-blue-icon.svg"/>
                                </div>
                            </div>
                            <div class="field-group mb-20">
                                <div class="grid-capacity-row">
                                    <div>
                                        <div class="label-heading">
                                            Capacity
                                        </div>                         
                                        <ng5-slider [(value)]="minCapacity" [(highValue)]="maxCapacity" [options]="capacityOption"> </ng5-slider>
                                    </div>
                                    <div>
                                        <div class="checkbox-blue-box">
                                            <div class="checkboxes__item">
                                                <label class="checkbox">
                                                  <input type="checkbox"/>
                                                  <div class="checkbox__checkmark"></div>
                                                  <div class="checkbox__body">Activity is full</div>
                                                </label>
                                            </div>
                                            <div class="checkboxes__item">
                                                <label class="checkbox">
                                                  <input type="checkbox"/>
                                                  <div class="checkbox__checkmark"></div>
                                                  <div class="checkbox__body">No capacity info</div>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="field-group">
                                <div class="btn-slide-toggle-info">
                                    <div class="btn-slide-toggle">
                                        <mat-slide-toggle  color="primary"> </mat-slide-toggle>
                                    </div>
                                    <label class="slide-toggle-txt">Outdoor activity</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end Activity Details popup -->

                <!-- Start Date & Time popup -->
                <div class="date-time-popup height-equal-scroll">
                    <div class="box-content bg-white">
                        <h2 class="h2">Days & Time</h2>
                        <div class="active-info-form">
                            <div class="field-group mb-15">
                                <div class="label-heading">
                                    Dates
                                </div>
                                <div class="btn-start-end-date">
                                    <div class="btn-start-date">
                                        <div><h3>Start Date</h3></div>
                                        <div><img src="/assets/images/bi-calendar.svg"/></div>
                                    </div>
                                    <div class="btn-mid-arrow">
                                        <img src="/assets/images/btn-mid-arrow.svg" />
                                    </div>
                                    <div class="btn-end-date">
                                        <div><h3>End Date</h3></div>
                                        <div><img src="/assets/images/bi-calendar.svg" /></div>
                                    </div>
                                </div>
                            </div>
                            <div class="field-group mb-10">
                                <div class="checkboxes__item">
                                    <label class="checkbox">
                                      <input type="checkbox"/>
                                      <div class="checkbox__checkmark"></div>
                                      <div class="checkbox__body">Dates are flexible</div>
                                    </label>
                                </div>
                            </div>
                            <div class="field-group mb-10">
                                <div class="label-heading">
                                    Days
                                </div>
                                <div class="weekday-ceckboxes-info checkbox-circle-box checkbox-blue-box">
                                    <div class="checkboxes__item">
                                        <label class="checkbox">
                                            <input type="checkbox"/>
                                            <div class="checkbox__checkmark"></div>
                                            <div class="checkbox__body">Mon</div>
                                        </label>
                                    </div>
                                    <div class="checkboxes__item">
                                        <label class="checkbox">
                                            <input type="checkbox"/>
                                            <div class="checkbox__checkmark"></div>
                                            <div class="checkbox__body">Tue</div>
                                        </label>
                                    </div>
                                    <div class="checkboxes__item">
                                        <label class="checkbox">
                                            <input type="checkbox"/>
                                            <div class="checkbox__checkmark"></div>
                                            <div class="checkbox__body">Wed</div>
                                        </label>
                                    </div>
                                    <div class="checkboxes__item">
                                        <label class="checkbox">
                                            <input type="checkbox"/>
                                            <div class="checkbox__checkmark"></div>
                                            <div class="checkbox__body">Thur</div>
                                        </label>
                                    </div>
                                    <div class="checkboxes__item">
                                        <label class="checkbox">
                                            <input type="checkbox"/>
                                            <div class="checkbox__checkmark"></div>
                                            <div class="checkbox__body">Fri</div>
                                        </label>
                                    </div>
                                    <div class="checkboxes__item">
                                        <label class="checkbox">
                                            <input type="checkbox"/>
                                            <div class="checkbox__checkmark"></div>
                                            <div class="checkbox__body">Sat</div>
                                        </label>
                                    </div>
                                    <div class="checkboxes__item">
                                        <label class="checkbox">
                                            <input type="checkbox"/>
                                            <div class="checkbox__checkmark"></div>
                                            <div class="checkbox__body">Sun</div>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="field-group mb-30">
                                <div class="label-heading">
                                    Time
                                </div>                         
                                <ng5-slider [(value)]="minAge" [(highValue)]="maxAge" [options]="ageOption">
                                </ng5-slider>
                            </div>
                            <div class="field-group mb-10">
                                <div class="weekday-list-info">
                                    <div><h3><span class="bold">Monday |</span> 8am - 2pm</h3></div>
                                    <div><h3><span class="bold">Tuesday |</span> 8am - 2pm</h3></div>   
                                    <div><h3><span class="bold">Wednesday |</span> 8am - 2pm</h3></div>
                                    <div><h3><span class="bold">Thursday |</span> 8am - 2pm</h3></div>
                                    <div><h3><span class="bold">Friday |</span> 8am - 2pm</h3></div> 
                                    <div><h3><span class="bold">Saturday |</span> 8am - 2pm</h3></div>  
                                </div>
                            </div>
                            <div class="field-group">
                                <div class="gird-date-time checkbox-blue-box">
                                    <div class="checkboxes__item">
                                        <label class="checkbox">
                                            <input type="checkbox"/>
                                            <div class="checkbox__checkmark"></div>
                                            <div class="checkbox__body">Date is not available</div>
                                        </label>
                                    </div>
                                    <div class="checkboxes__item">
                                        <label class="checkbox">
                                            <input type="checkbox"/>
                                            <div class="checkbox__checkmark"></div>
                                            <div class="checkbox__body">Time is not available</div>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>    
                </div>
                <!-- end Date & Time popup -->

                <!-- Start Pricing popup -->
                <div class="pricing-info-popup height-equal-scroll">
                    <div class="box-content bg-white">
                        <h2 class="h2">Pricing</h2>
                        <div class="active-info-form">
                            <div class="field-group mb-20">
                                <div class="btn-slide-toggle-info">
                                    <div class="btn-slide-toggle">
                                        <mat-slide-toggle  color="primary"> </mat-slide-toggle>
                                    </div>
                                    <label class="slide-toggle-txt">Free Program</label>
                                </div>
                            </div>
                            <div class="field-group mb-15">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="label-heading">
                                            Price Per Participant 
                                        </div>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">$</div>
                                            </div>
                                            <input type="text" class="form-control" placeholder="Add.." [(ngModel)]="program.pricePerParticipant">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="field-group mb-20">
                                <div class="checkbox-blue-box">
                                    <div class="checkboxes__item">
                                        <label class="checkbox">
                                          <input type="checkbox"/>
                                          <div class="checkbox__checkmark"></div>
                                          <div class="checkbox__body">Free DEMO is available</div>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="field-group mb-15">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="label-heading">
                                            Estimated Price Per Hour
                                        </div>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">$</div>
                                            </div>
                                            <input type="text" class="form-control" placeholder="Add.." [(ngModel)]="program.pricePerParticipant">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="label-heading">
                                            Calculated Price Per Hour
                                        </div>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">$</div>
                                            </div>
                                            <input type="text" class="form-control" placeholder="Add.." [(ngModel)]="program.pricePerParticipant">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="field-group mb-20">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="label-heading">
                                            Price Per Sibling
                                        </div>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">$</div>
                                            </div>
                                            <input type="text" class="form-control" placeholder="Add.." [(ngModel)]="program.priceForSiblings" />
                                         </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="field-group">
                                <div class="btn-slide-toggle-info">
                                    <div class="btn-slide-toggle">
                                        <mat-slide-toggle  color="primary"> </mat-slide-toggle>
                                    </div>
                                    <label class="slide-toggle-txt">Is it a prorated program?</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end Pricing popup -->

                <!-- Start Special Instructions popup -->
                <div class="special-instructions-popup height-equal-scroll">
                    <div class="box-content bg-white">
                        <h2 class="h2">Special Instructions</h2>
                        <div class="active-info-form">
                            <div class="field-group">
                                <div class="label-heading">
                                    Special Instructions
                                </div>
                                <textarea #ProgramDescription type="text" maxlength="3000" rows="4" class="input-field"
                                    placeholder="Type" required [(ngModel)]="program.description">
                                </textarea>
                                <!-- <span class="text-absolu">({{ProgramDescription.value?.length}} of 3000)</span> -->
                            </div>
                            <div class="field-group mb-15">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="label-heading">
                                            Booking Can’t Be Cancelled Before
                                        </div>
                                        <div class="field-days-hours-marge">
                                            <input type="text" placeholder="Days" class="input-field" >
                                            <select class="input-field select-down-icon">
                                                <option value="Hours">Hours</option>
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                            </select>   
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="field-group">
                                <div class="btn-slide-toggle-info">
                                    <div class="btn-slide-toggle">
                                        <mat-slide-toggle  color="primary"> </mat-slide-toggle>
                                    </div>
                                    <label class="slide-toggle-txt"><span class="font-weight-600">Child May Be Droped Off</span> (Adult supervision is not required)</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end Special Instructions popup -->

                <!-- Start Source popup -->
                <div class="source-info-popup height-equal-scroll">
                    <div class="box-content bg-white">
                        <h2 class="h2">Source</h2>
                        <div class="active-info-form">
                            <div class="field-group">
                                <div class="label-heading">
                                    Source
                                </div>
                                <select class="input-field select-down-icon">
                                    <option value="Camps">Camps</option>
                                    <option value="Semesters">Semesters</option>
                                    <option value="Drop-ins">Drop-ins</option>
                                    <option value="Other">Other</option>
                                </select>
                            </div>
                            <div class="field-group">
                                <div class="label-heading">
                                    Platform Source Link
                                </div>
                                <input type="url" class="input-field" >
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end Source popup -->

              </div>
            </div>  
            <!-- end main body content -->
        </div>

    </div>
    <!-- end row -->
  </div>
  <!-- end add-activity-body -->
</div>