<div class="text-right">
  <button mat-raised-button color="warn" (click)="dialogRef.close(false)">CLOSE</button>
</div>
<h1 matDialogTitle>Compare Data</h1>
<div>

  <div class="row ">
    <div class="col-6">
      <div class="pb-1">
        <mat-form-field class="full-width">
          <input matInput [(ngModel)]="userOne.email" placeholder="Email" readonly>
        </mat-form-field>
      </div>


      <div class="pb-1">
        <mat-form-field class="full-width">
          <input matInput [(ngModel)]="userOne.firstName" placeholder="FirstName">
        </mat-form-field>
      </div>

      <div class="pb-1">
        <mat-form-field class="full-width">
          <input matInput [(ngModel)]="userOne.addressLine1" placeholder="Address">
        </mat-form-field>
      </div>

      <div class="pb-1">
        <mat-form-field class="full-width">
          <input matInput [(ngModel)]="userOne.city" placeholder="City">
        </mat-form-field>
      </div>

      <div class="pb-1">
        <mat-form-field class="full-width">
          <input matInput placeholder="Role" readonly [(ngModel)]="userOne.role">
        </mat-form-field>
      </div>

      <!-- Kepp Button -->
      <div class="text-center ">
        <button mat-raised-button color="primary" (click)="mergeDuplicacyOne()">Keep</button>
        <span style="font-weight: 800; margin: 0px 6px 0px 6px;"></span>
        <button mat-raised-button color="warn" (click)="DeleteFirstRecord()">Delete </button>
      </div>

    </div>

    <!-- <div class="col-2">
      <button (click)="onSwap(userOne.email.value,userTwo.email.value">swap</button>
    </div> -->
    <!-- second column -->
    <div class="col-6">
      <div class="pb-1">
        <mat-form-field class="full-width">
          <input matInput [(ngModel)]="userTwo.email" placeholder="Email" readonly>
        </mat-form-field>
      </div>


      <div class="pb-1">
        <mat-form-field class="full-width">
          <input matInput [(ngModel)]="userTwo.firstName" placeholder="FirstName">
        </mat-form-field>
      </div>

      <div class="pb-1">
        <mat-form-field class="full-width">
          <input matInput [(ngModel)]="userTwo.addressLine1" placeholder="Address">
        </mat-form-field>
      </div>


      <div class="pb-1">
        <mat-form-field class="full-width">
          <input matInput [(ngModel)]="userTwo.city" placeholder="City">
        </mat-form-field>
      </div>


      <div class="pb-1">
        <mat-form-field class="full-width">
          <input matInput placeholder="Role" [(ngModel)]="userTwo.role" readonly placeholder="Role">
        </mat-form-field>
      </div>

      <div class="text-center">
        <button mat-raised-button color="primary" (click)="mergeDuplicacyTwo()">Keep </button>
        <span style="font-weight: 800; margin: 0px 6px 0px 6px;"></span>
        <button mat-raised-button color="warn" (click)="DeleteSecondRecord()">Delete </button>

      </div>

      <!-- close button -->

    </div>

  </div>