<mat-card class="p-0">
  <mat-card-title class="">
      <div class="card-title-text">
         Admin Form
      </div>
      <mat-divider></mat-divider>
  </mat-card-title>
  <mat-card-content>
      <form>
          <div fxLayout="row wrap">
              <div fxFlex="100" fxFlex.gt-xs="50" class="pr-1">
                  <div class="pb-1">
                      <mat-form-field class="full-width">
                          <input matInput name="name"  placeholder="First Name"
                              [(ngModel)]="user.firstName">
                      </mat-form-field>
                  </div>

                  <div class="pb-1">
                    <mat-form-field class="full-width">
                        <input matInput type="email" name="email" placeholder="Email"
                            [(ngModel)]="user.email">
                    </mat-form-field>

                </div>

              <div class="pb-1">
                <mat-form-field class="full-width">
                    <input matInput name="password" placeholder="Set New Password"
                        [(ngModel)]="user.password">
                </mat-form-field>

            </div>
              <div class="pb-1">
                <mat-form-field class="full-width">
                    <input matInput name="role" placeholder="Role"
                        [(ngModel)]="user.role">
                </mat-form-field>

            </div>

                 

               
              </div>

                  <div fxFlex="100" fxFlex.gt-xs="50" class="pr-1">

                      <div class="pb-1">
                          <mat-form-field class="full-width">
                              <input matInput name="name" placeholder="Last Name"
                                  [(ngModel)]="user.lastName">
                          </mat-form-field>
  
                      </div>
                      <div class="pb-1">
                        <mat-form-field class="full-width">
                            <mat-select placeholder="Role">
                                <mat-option value="admin">Admin</mat-option>
                                <mat-option value="operation">Operation</mat-option>
                            </mat-select>
                            <!-- <input matInput name="number" placeholder="Contact No."
                                [(ngModel)]="user.phoneNumber"> -->
                        </mat-form-field>
      
                    </div>
                      

                    <div class="pb-1">
                        <mat-form-field class="full-width">
                            <input matInput name="cpasssword" placeholder="Confirm Password"
                                [(ngModel)]="user.cpassword">
                        </mat-form-field>

                    </div>

                    
              </div>
          </div>

          <button mat-raised-button color="warn" (click)="back()">Back</button>
          <button style="align-items:flex-end;margin-left: 15px;" mat-raised-button color="primary" (click)="addAdmin()">Submit</button>
      </form>
  </mat-card-content>
</mat-card>